.loader__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d4ed8;
    height: 100vh;

    &__loader{
        width: 60%;
        height: auto;
        margin-top: 4rem;

        path{
            stroke: white;
            stroke-width: 5;
            stroke-dasharray: 1000; /* Large number to ensure full length coverage */
            stroke-dashoffset: 1000;
            animation: draw 4s ease-in-out forwards, fade 2s ease-in-out 4s forwards;        
        }
    }

    /* Keyframes for the drawing effect */
    @keyframes draw {
        to {
            stroke-dashoffset: 0;
        }
    }

    /* Keyframes for the fading effect */
    @keyframes fade {
        to {
            fill: white;
            stroke: transparent;
        }
    }

    @media screen and (max-width: 768px) {
        #loader__container {
            &__loader{
                width: 50%;
                margin-top: 3rem;
            }
        }
    }
}

.loader__container__two{
    width: 100vw;
    height: 100vh;
    background-color: #1d4ed8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__welcome{
        font-size: 12rem;
        color: white;
    }
}