// VARIABLES
// Define breakpoint variables
$mobile: 499px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1299px;
$large-wide: 1300px;

// themes
$light-theme-bg: #dbeafe; //main background
$light-theme-clr: #000;
$dark-theme-bg: #172554; //secondary background
$dark-theme-clr: #fff;
