// VARIABLES
// Define breakpoint variables
$xs-mobile: 320px;
$xs-mobile2: 412px;
$mobile: 499px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1299px;
$large-wide: 1300px;

// themes
// $light-theme-bg: #dbeafe; //main background
$light-theme-bg: #f8fafc; //main background
$light-theme-clr: #0f172a;
// $dark-theme-bg: #172554; //secondary background
$dark-theme-bg: #0f172a; //secondary background
$dark-theme-clr: #f8fafc;
