.container {
  position: relative;
}
.container .Header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 50;
  transition: background 0.3s ease-in-out;
}
.container .Header__logo {
  cursor: pointer;
}
.container .Header__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.5rem;
}
.container .Header__logo__picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 4px solid #60a5fa;
}
.container .Header__logo h3 {
  text-decoration: none;
  list-style: none;
  letter-spacing: 1px;
}
.container .Header__navbar {
  align-items: center;
  justify-content: center;
  z-index: 40;
}
.container .Header__navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.container .Header__navbar li {
  list-style: none;
}
.container .Header__navbar li a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
  gap: 0.3rem;
}
.container .Header__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.container .Header__contact__hamburgerBtn {
  border: none;
  background: none;
  font-size: 1.3rem;
  z-index: 70;
}
.container .Header__contact__contactMe {
  border: none;
  background: blue;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
.container .Header__contact__contactMe a {
  color: #fff;
}

.social-media {
  position: absolute;
  padding-top: 4rem;
}
.social-media ul li {
  list-style-type: none;
  /* display: none; */
  cursor: pointer;
}
.social-media ul li a {
  align-items: center;
  justify-content: start;
  text-decoration: none;
  gap: 0.3rem;
  color: #94a3b8;
}
.social-media ul li a.Instagram-icon:hover {
  color: #C13584;
}
.social-media ul li a.Github-icon:hover {
  color: #000;
}
.social-media ul li a.Youtube-icon:hover {
  color: rgb(255, 0, 0);
}
.social-media ul li a.Twitter-icon:hover {
  color: #000;
}
.social-media ul li a.Facebook-icon:hover {
  color: #1877F2;
}
.social-media ul li a.Tiktok-icon:hover {
  color: #1a1919;
}
.social-media ul li a.Linkedin-icon:hover {
  color: #0e76a8;
}

.Switch-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  background: #f1f5f9;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #475569;
  cursor: pointer;
  border: 1px solid #cbd5e1;
  font-size: 1.1rem;
}

.container .Hero {
  width: 100vw;
  display: flex;
}
.container .Hero__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.2rem;
}
.container .Hero__info__greet {
  line-height: 2rem;
}
.container .Hero__info__name {
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: orangered;
}
.container .Hero__info__job {
  line-height: 1rem;
  color: #0ea5e9;
}
.container .Hero__info hr {
  content: "";
  background-color: #F1C21B;
  height: 1px;
  transform-origin: center left;
  border: none;
  width: 5rem;
  margin-top: 1.5rem;
}
.container .Hero__info__description {
  line-height: 2;
}
.container .Hero__info__btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container .Hero__info__btn__one {
  background-color: #0ea5e9;
  color: #fff;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 600;
  line-height: 1;
  text-shadow: none;
  transition-property: box-shadow, transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
  cursor: pointer;
  border-radius: 290486px;
}
.container .Hero__info__btn__one:hover {
  background-color: #fff;
  transition: background 0.3s ease-in-out;
  color: #0ea5e9;
  border-radius: 32px;
  border: 3px solid #0ea5e9;
}
.container .Hero__info__btn__two {
  background-color: #0ea5e9;
  color: #fff;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 600;
  line-height: 1;
  text-shadow: none;
  transition-property: box-shadow, transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
  cursor: pointer;
  border-radius: 290486px;
  border-radius: 50%;
  background-color: #000;
  font-weight: bold;
  margin-left: 0.3rem;
}
.container .Hero__profil {
  position: relative;
}
.container .Hero__profil__picture {
  position: absolute;
  z-index: 40;
}
.container .Hero__profil__code {
  position: absolute;
  color: orangered;
  opacity: 0.6;
  font-weight: 900;
}
.container .Hero__profil__code__one, .container .Hero__profil__code__two, .container .Hero__profil__code__three, .container .Hero__profil__code__four, .container .Hero__profil__code__five, .container .Hero__profil__code__six {
  position: absolute;
  color: orangered;
  opacity: 0.6;
  font-weight: 900;
}
.container .Hero__profil__code__one {
  z-index: 1;
}
.container .About {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
}
.container .About h3 {
  font-size: 3rem;
}

.container .Services {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
}
.container .Services h3 {
  font-size: 3rem;
}

.container .Videos {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
}
.container .Videos h3 {
  font-size: 3rem;
}

.container .Contact {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
}
.container .Contact h3 {
  font-size: 3rem;
}

.container .footer {
  width: 100%;
  height: auto;
  position: relative;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.container .footer h5 {
  text-align: center;
  margin-bottom: 1rem;
}
.container .footer hr {
  height: 0.1rem;
  color: rgb(95, 101, 160);
}
.container .footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .footer__content__social__media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  order: 2;
}
.container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
  border: 1px solid rgb(95, 101, 160);
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: #ffffff;
  color: #000;
  cursor: pointer;
}
.container .footer__content__social__media a.instagram-icon:hover {
  color: #C13584;
}
.container .footer__content__social__media a.github-icon:hover {
  color: #000;
}
.container .footer__content__social__media a.youtube-icon:hover {
  color: rgb(255, 0, 0);
}
.container .footer__content__social__media a.twitter-icon:hover {
  color: #000;
}
.container .footer__content__social__media a.facebook-icon:hover {
  color: #1877F2;
}
.container .footer__content__social__media a.tiktok-icon:hover {
  color: #1a1919;
}
.container .footer__content__social__media a.linkedin-icon:hover {
  color: #0e76a8;
}
.container .footer__content__copyright {
  display: flex;
  order: 1;
  margin-top: 1rem;
  text-align: center;
}
.container .footer button {
  border: none;
}
.container .footer .backTop {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(114, 227, 247);
  z-index: 99;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}
.container .footer a {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  background: #dbeafe; /* Default light mode background */
  color: #000; /* Default light mode text color */
  transition: background 0.3s ease-in-out;
  line-height: 1.5;
  margin: 0;
}

.container a {
  text-decoration: none;
  color: #000;
}

.dark-mode a {
  color: #fff;
}

.dark-mode {
  background: #172554; /* Dark mode background */
  color: #fff; /* Dark mode text color */
}

@media only screen and (max-width: 499px) {
  html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1300px) {
  .container .Header {
    position: sticky;
    top: 0;
    height: 6rem;
    padding: 0 3em;
    background: #dbeafe;
  }
  .container .Header.dark-mode {
    background: #172554;
  }
  .container .Header__logo__name {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .container .Header__navbar {
    display: flex;
    flex-direction: row;
  }
  .container .Header__navbar ul li {
    font-weight: bold;
  }
  .container .Header__navbar .active {
    background-color: blue;
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
    display: block;
  }
  .container .Header__navbar ul li a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
  }
  .container .Header__contact__hamburgerBtn {
    display: none;
  }
  .container .Header__contact__contactMe {
    padding: 1em 1.4em;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1299px) {
  .container .Header {
    position: sticky;
    top: 0;
    height: 6rem;
    padding: 0 3em;
    background: #dbeafe;
  }
  .container .Header.dark-mode {
    background: #172554;
  }
  .container .Header__logo__name {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .container .Header__navbar {
    display: flex;
    flex-direction: row;
  }
  .container .Header__navbar ul li {
    font-weight: bold;
  }
  .container .Header__navbar .active {
    background-color: blue;
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
    display: block;
  }
  .container .Header__navbar ul li a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
  }
  .container .Header__contact__hamburgerBtn {
    display: none;
  }
  .container .Header__contact__contactMe {
    padding: 1em 1.4em;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .container .Header {
    position: sticky;
    top: 0;
    height: 6rem;
    padding: 0 3em;
    background: #dbeafe;
  }
  .container .Header.dark-mode {
    background: #172554;
  }
  .container .Header__logo__name {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .container .Header__navbar {
    display: flex;
    flex-direction: row;
  }
  .container .Header__navbar ul li {
    font-weight: bold;
  }
  .container .Header__navbar .active {
    background-color: blue;
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
    display: block;
  }
  .container .Header__navbar ul li a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
  }
  .container .Header__contact__hamburgerBtn {
    display: none;
  }
  .container .Header__contact__contactMe {
    padding: 1em 1.4em;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .container .Header {
    position: relative;
    height: 4rem;
    padding: 0 1.5em;
    background: #dbeafe;
  }
  .container .Header.dark-mode {
    background: #172554;
  }
  .container .Header__logo__name {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .container .Header__navbar {
    position: fixed;
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background: rgba(22, 101, 52, 0.6);
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
    width: 100%;
    height: 100vh;
    right: 0;
    left: 100%;
    top: 0;
    bottom: 0;
  }
  .container .Header__navbar ul {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .Header__navbar ul li {
    width: 100%;
    font-size: 1.2rem;
    gap: 3rem;
    text-align: center;
    font-weight: bold;
  }
  .container .Header__navbar ul li a {
    color: #fff;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .Header__navbar .active {
    background-color: blue;
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
    display: block;
  }
  .container .Header__navbar ul li a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
  }
  @keyframes slideInLeft {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  .container .Header__navbar.open {
    display: flex;
    left: 0;
    animation: slideInLeft 0.5s ease forwards;
  }
  .container .Header__contact__hamburgerBtn {
    display: flex;
  }
  .container .Header__contact__contactMe {
    padding: 0.7em 1.3em;
    font-size: 0.8rem;
  }
  .container .Header__contact .Switch-btn {
    width: 1.8rem;
    height: 1.8rem;
  }
}
@media only screen and (max-width: 499px) {
  .container .Header {
    position: relative;
    height: 4rem;
    padding: 0 1em;
    background: #dbeafe;
  }
  .container .Header.dark-mode {
    background: #172554;
  }
  .container .Header__logo__name {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .container .Header__navbar {
    position: fixed;
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
    width: 100%;
    height: 100vh;
    right: 0;
    left: 100%;
    top: 0;
    bottom: 0;
  }
  .container .Header__navbar ul {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .Header__navbar ul li {
    font-size: 0.8rem;
    gap: 3rem;
    text-align: center;
    font-weight: bold;
  }
  .container .Header__navbar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: #fff;
    width: 90%;
    margin: 0 0.2rem;
  }
  .container .Header__navbar .active {
    background-color: blue;
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
    display: block;
  }
  .container .Header__navbar ul li a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
  }
  @keyframes slideInLeft {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  .container .Header__navbar.open {
    display: flex;
    left: 0;
    animation: slideInLeft 0.5s ease forwards;
  }
  .container .Header__contact__hamburgerBtn {
    display: flex;
  }
  .container .Header__contact__contactMe {
    padding: 0.5em 1.2em;
    font-size: 0.9rem;
  }
  .container .Header__contact .Switch-btn {
    width: 1.8rem;
    height: 1.8rem;
  }
}
@media only screen and (min-width: 1300px) {
  .container .social-media {
    display: none;
  }
}
@media only screen and (max-width: 1299px) {
  .container .social-media {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .container .social-media {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .container .social-media {
    display: flex;
    bottom: 4rem;
  }
  .container .social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .container .social-media ul li a {
    font-size: 1.2rem;
    display: grid;
    place-items: center;
  }
}
@media only screen and (max-width: 499px) {
  .container .social-media {
    display: flex;
    bottom: 4rem;
  }
  .container .social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .container .social-media ul li a {
    font-size: 1rem;
    display: grid;
    place-items: center;
  }
}
@media only screen and (max-width: 992px) {
  .container .Hero {
    width: 100vw;
    height: 100vh;
    padding: 0 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .container .Hero {
    width: 100%;
    min-height: 100vh;
    gap: 0.7rem;
    flex-direction: column;
    padding: 0 1em;
  }
  .container .Hero__info {
    width: 100%;
    max-height: 59vh;
    padding: 1.5em 0.6em;
  }
  .container .Hero__info__greet {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .container .Hero__info__name {
    margin-top: 0.9rem;
    font-size: 3.2rem;
    line-height: 2rem;
  }
  .container .Hero__info__job {
    font-size: 1.3rem;
    line-height: 1rem;
    margin-top: 1.5rem;
  }
  .container .Hero__info__description {
    margin: 0.8rem 0;
    width: 80%;
    font-size: 1rem;
  }
  .container .Hero__info__btn {
    margin-top: 0.4rem;
    justify-content: start;
    margin: 0.3rem 0;
  }
  .container .Hero__info__btn__one {
    padding: 0.8em 1.2em;
    font-size: 0.9rem;
  }
  .container .Hero__info__btn__one:hover {
    padding: 0.8em 1.2em;
    color: #0ea5e9;
    border-radius: 32px;
    border: 3px solid #0ea5e9;
  }
  .container .Hero__info__btn__two {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 1rem;
  }
  .container .Hero__profil {
    width: 100%;
    min-height: 46vh;
    display: flex;
    justify-content: center;
  }
  .container .Hero__profil__picture {
    width: 18rem;
    height: auto;
  }
  .container .Hero__profil__code {
    right: 18%;
    top: 40%;
    font-size: 1rem;
  }
  .container .Hero__profil__code__one, .container .Hero__profil__code__two, .container .Hero__profil__code__three, .container .Hero__profil__code__four, .container .Hero__profil__code__five, .container .Hero__profil__code__six {
    font-size: 1rem;
  }
  .container .Hero__profil__code__one {
    top: 10%;
    left: 30%;
    z-index: 1;
  }
  .container .Hero__profil__code__two {
    bottom: 20%;
    left: 35%;
  }
  .container .Hero__profil__code__three {
    bottom: 30%;
    right: 30%;
  }
  .container .Hero__profil__code__four {
    bottom: 25%;
    left: 65%;
  }
  .container .Hero__profil__code__five {
    top: 50%;
    left: 25%;
  }
  .container .Hero__profil__code__six {
    top: 20%;
    left: 55%;
  }
}
@media only screen and (max-width: 499px) {
  .container .Hero {
    width: 100%;
    min-height: 100vh;
    gap: 0.5rem;
    flex-direction: column;
    padding: 0 0.4em;
  }
  .container .Hero__info {
    width: 100%;
    max-height: 59vh;
    padding: 1em 0.6em;
  }
  .container .Hero__info__greet {
    font-size: 1rem;
    font-weight: 400;
  }
  .container .Hero__info__name {
    margin-top: 0.1rem;
    font-size: 2.2rem;
    line-height: 2rem;
  }
  .container .Hero__info__job {
    font-size: 1.3rem;
    line-height: 1rem;
    margin-top: 1rem;
  }
  .container .Hero__info__description {
    margin: 0.4rem 0;
    width: 100%;
    font-size: 0.9rem;
  }
  .container .Hero__info__btn {
    margin-top: 0.4rem;
    justify-content: start;
    margin: 0.3rem 0;
  }
  .container .Hero__info__btn__one {
    padding: 0.5em 1em;
    font-size: 0.8rem;
  }
  .container .Hero__info__btn__one:hover {
    padding: 0.5em 1em;
    color: #0ea5e9;
    border-radius: 32px;
    border: 3px solid #0ea5e9;
  }
  .container .Hero__info__btn__two {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
  }
  .container .Hero__profil {
    width: 100%;
    max-height: 41vh;
    display: flex;
    justify-content: center;
  }
  .container .Hero__profil__picture {
    width: 17rem;
    height: auto;
  }
  .container .Hero__profil__code {
    right: 4%;
    top: 40%;
    font-size: 0.8rem;
  }
  .container .Hero__profil__code__one, .container .Hero__profil__code__two, .container .Hero__profil__code__three, .container .Hero__profil__code__four, .container .Hero__profil__code__five, .container .Hero__profil__code__six {
    font-size: 0.8rem;
  }
  .container .Hero__profil__code__one {
    top: 10%;
    left: 20%;
    z-index: 1;
  }
  .container .Hero__profil__code__two {
    bottom: 20%;
    left: 25%;
  }
  .container .Hero__profil__code__three {
    bottom: 30%;
    right: 20%;
  }
  .container .Hero__profil__code__four {
    bottom: 25%;
    left: 55%;
  }
  .container .Hero__profil__code__five {
    top: 50%;
    left: 15%;
  }
  .container .Hero__profil__code__six {
    top: 20%;
    left: 65%;
  }
}
@media only screen and (min-width: 1300px) {
  .container .footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer h5 {
    font-size: 2rem;
  }
  .container .footer hr {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
  }
  .container .footer__content__copyright {
    font-size: 1rem;
    margin: 0.7rem 0;
  }
}
@media only screen and (max-width: 1299px) {
  .container .footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer h5 {
    font-size: 1.5rem;
  }
  .container .footer hr {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
  }
  .container .footer__content__copyright {
    font-size: 1rem;
    margin: 0.7rem 0;
  }
}
@media only screen and (max-width: 992px) {
  .container .footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer h5 {
    font-size: 1.5rem;
  }
  .container .footer hr {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
  .container .footer__content__copyright {
    font-size: 0.8rem;
    margin: 0.7rem 0;
  }
}
@media only screen and (max-width: 768px) {
  .container .footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer h5 {
    font-size: 1.5rem;
  }
  .container .footer hr {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer__content {
    flex-direction: column;
  }
  .container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1rem;
  }
  .container .footer__content__copyright {
    font-size: 1rem;
    margin: 0.7rem 0;
  }
}
@media only screen and (max-width: 499px) {
  .container .footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer h5 {
    font-size: 1rem;
  }
  .container .footer hr {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer__content {
    flex-direction: column;
  }
  .container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
    width: 1.4rem;
    height: 1.4rem;
    font-size: 0.8rem;
  }
  .container .footer__content__copyright {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
}/*# sourceMappingURL=App.css.map */