// import @use
@use './component/Header/HeaderSass/index_header.scss';
@use './component/Main/MainSass/index_main.scss';
@use './component/Footer/FooterSass/index_footer.scss';

// import resets
@import './sass/resets';
@import './sass/mixin';
@import './sass/variables';



// a for whole app
a{
    text-decoration: none;
    color: $light-theme-clr;    
}

.dark-mode a{
    color: $dark-theme-clr;
}
.dark-mode {
    background: $dark-theme-bg; /* Dark mode background */
    color: $dark-theme-clr; /* Dark mode text color */
}

.container{
    width: 100vw;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    background: $light-theme-bg; /* Default light mode background */
    color: $light-theme-clr; /* Default light mode text color */
    transition: background .3s ease-in-out;
    line-height: 1.5;
    margin: 0;

    &.dark-mode{
        background: $dark-theme-bg; /* Default light mode background */
        color: $dark-theme-clr; /* Default light mode text color */
    }
    // Header
    .Header{
        background: $light-theme-bg;
        transition: background .3s ease-in-out;
        // media queries
        // large-wide
        @include responsive(large-wide) {
            position: sticky;
            top: 0;
            height: 6rem;
            padding: 0 3em;
            

            &.dark-mode{
                background: $dark-theme-bg;
            }

            &__logo{
                &__name{
                    font-size: 1.8rem;
                    font-weight: 800;
                }
            }

            &__navbar{
                display: flex;
                flex-direction: row;

                ul{
                    li{
                        font-weight: bold;
                    }
                }
                // the active button
                .active {
                    background-color: blue;
                    border-radius: 5px;
                    padding: .4em;
                    color: #fff;
                    display: block;
                }
                ul li a:not(.active):hover {
                    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
                    border-radius: 5px;
                    padding: .4em;
                    color: #fff;
                }
            }
            // contact
            &__contact{
                    //hamburger button 
                &__hamburgerBtn{
                    display: none;
                }
                // button
                &__contactMe {
                    padding: 1em 1.4em;
                    font-size: 1rem;
                }
            }
            
        }

        // desktop 
        @include responsive(desktop) {
            position: sticky;
            top: 0;
            height: 6rem;
            padding: 0 3em;

            &.dark-mode{
                background: $dark-theme-bg;
            }

            &__logo{
                &__name{
                    font-size: 1.8rem;
                    font-weight: 800;
                }
            }

            &__navbar{
                display: flex;
                flex-direction: row;
                ul{
                    li{
                        font-weight: bold;
                    }
                }
                // the active button
                .active {
                    background-color: blue;
                    border-radius: 5px;
                    padding: .4em;
                    color: #fff;
                    display: block;
                }
                ul li a:not(.active):hover {
                    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
                    border-radius: 5px;
                    padding: .4em;
                    color: #fff;
                }
            }
            // contact
            &__contact{    
                &__hamburgerBtn{
                    display: none;
                }
                // button
                &__contactMe {
                    padding: 1em 1.4em;
                    font-size: 1rem;
                }
            }
            
        }

        // laptop
        @include responsive(laptop){
            position: sticky;
            top: 0;
            height: 6rem;
            padding: 0 3em;

            &.dark-mode{
                background: $dark-theme-bg;
            }

            &__logo{
                &__name{
                    font-size: 1.8rem;
                    font-weight: 800;
                }
            }
            
            &__navbar{
                display: flex;
                flex-direction: row;
                ul{
                    li{
                        font-weight: bold;
                    }
                }
                // the active button
                .active {
                    background-color: blue;
                    border-radius: 5px;
                    padding: .4em;
                    color: #fff;
                    display: block;
                }
                ul li a:not(.active):hover {
                    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
                    border-radius: 5px;
                    padding: .4em;
                    color: #fff;
                }
            }
            // contact
            &__contact{
                //hamburger button 
                &__hamburgerBtn{
                    display: none;
                }
                // button
                &__contactMe {
                    padding: 1em 1.4em;
                    font-size: 1rem;
                }
            }
        }

        //tablet 
        @include responsive(tablet) {
            position: relative;
            // top: 0;
            height: 4rem;
            padding: 0 1.5em;

            &.dark-mode{
                background: $dark-theme-bg;
            }

            &__logo{
                &__name{
                    font-size: 1.4rem;
                    font-weight: 700;
                }
            }

            // navigation
            &__navbar{
                position: fixed;
                display: none;
                align-items: start;
                justify-content: start;
                flex-direction: column;
                background: rgba($color: #166534, $alpha: .6);
                backdrop-filter: blur(25px);
                width: 100%;
                height: 100vh;
                right: 0;
                left: 100%;
                // transition: left .3s ease-in-out;
                top: 0;
                bottom: 0;

                ul {
                    width: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-wrap: nowrap;
                    flex-direction: column;

                    li {
                        width: 100%;
                        font-size: 1.2rem;
                        gap: 3rem;
                        text-align: center;
                        font-weight: bold;
                        a{
                            color: #fff;
                            width: 90%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
                .active {
                    background-color: blue;
                    border-radius: 5px;
                    padding: .4em;
                    color: #fff;
                    display: block;
                }
                ul li a:not(.active):hover {
                    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
                    border-radius: 5px;
                    padding: .4em;
                    color: #fff;
                }
            }
            // transition animation left
            @keyframes slideInLeft {
                from {
                    left: 100%;
                }
                to {
                    left: 0;
                }
            }

            // open menu
            &__navbar.open{
                display: flex;
                left: 0;
                animation: slideInLeft 0.5s ease forwards;
            }

            // contact
            &__contact{

                //hamburger button 
                &__hamburgerBtn{
                    display: flex;
                }
                // button
                &__contactMe {
                    padding: .7em 1.3em;
                    font-size: .8rem;
                }
                .Switch-btn{
                    width: 1.8rem;
                    height: 1.8rem;           
                }

            }
        }

        // mobile
        @include responsive(mobile) {
            position: relative;
            // top: 0;
            height: 4rem;
            padding: 0 1em;

            &.dark-mode{
                background: $dark-theme-bg;
            }

            // logo
            &__logo{
                &__name{
                    font-size: 1.4rem;
                    font-weight: bold;
                }
            }
            // navigation
            &__navbar{
                position: fixed;
                display: none;
                align-items: start;
                justify-content: start;
                flex-direction: column;
                background: rgba($color: #000000, $alpha: .6);
                backdrop-filter: blur(25px);
                width: 100%;
                height: 100vh;
                right: 0;
                left: 100%;
                // transition: left .3s ease-in-out;
                top: 0;
                bottom: 0;

                ul {
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-wrap: nowrap;
                    flex-direction: column;

                    li {
                        font-size: .8rem;
                        gap: 3rem;
                        text-align: center;
                        font-weight: bold;

                        a{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: .2rem;
                            color: #fff;
                            width: 90%;
                            margin: 0 .2rem;
                        }
                    }
                }
                .active {
                    background-color: blue;
                    border-radius: 5px;
                    padding: .4em;
                    color: #fff;
                    display: block;
                }

                ul li a:not(.active):hover {
                    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
                    border-radius: 5px;
                    padding: .4em;
                    color: #fff;
                }
            }
            // transition animation left
            @keyframes slideInLeft {
                from {
                    left: 100%;
                }
                to {
                    left: 0;
                }
            }

            // open menu
            &__navbar.open{
                display: flex;
                left: 0;
                animation: slideInLeft 0.5s ease forwards;
            }

            // contact
            &__contact{
                // hamburger button
                &__hamburgerBtn{
                    display: flex;
                    // color: $dark-theme-clr;
                }
                
                // button
                &__contactMe {
                    padding: .5em 1.2em;
                    font-size: .9rem;
                }
                .Switch-btn{
                    width: 1.8rem;
                    height: 1.8rem;
                    // z-index: 30;           
                }
            }
        }
    }
    // social media
    .social-media{
        @include responsive(large-wide){
            display: none;   
        }
        @include responsive(desktop){
            display: none;
        }
        @include responsive(laptop){
            display: none;
        }
        @include responsive(tablet){
            display: flex;
            bottom: 4rem;

            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                // gap: .3rem;

                li{
                    a{
                        font-size: 1.2rem;
                        display: grid;
                        place-items: center;
                    }
                }
            }
        }
        @include responsive(mobile){
            display: flex;
            bottom: 4rem;

            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                // gap: .2rem;
                li{
                    a{
                        font-size: 1rem;
                        display: grid;
                        place-items: center;
                    }
                }
            }
        }
    }

    // Hero section
    .Hero{
        transition: background .3s ease-in-out;
        // Large screen
        @include responsive(large-wide){
            min-height: 75vh;
            padding: 0 4em;
            padding-top: 2em;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 1rem;
            margin: 0;
            overflow: auto;

            &__info{
                width: 50%;
                min-height: 70vh;
                padding: 1em;
                z-index: 40;

                &__greet{
                    font-size: 2rem;
                    font-weight: 500;
                }
                &__name{
                    margin-top: 2.5rem;
                    font-size: 4rem;
                    line-height: 2rem;
                }
                &__job{
                    font-size: 2rem;
                    line-height: 1rem;
                    margin-top: 2.4rem;
                }
                &__description{
                    margin: .8rem 0;
                    width: 30rem;
                    font-size: 1.3rem;
                }
                // Buttons
                &__btn{
                    justify-content: center;
                    margin: .8rem 0;
                    padding-bottom: 0;

                    &__one{
                        font-size: 1.2rem;
                        padding: 1em 1.5em;

                        &:hover{
                            padding: 1em 1.5em;
                        }
                    }
                    &__two{
                        width: 3rem;
                        height: 3rem;
                        padding: 1em;
                        font-size: 1rem;
                    }
                }
                
            }
            &__profil{
                width: 50%;
                min-height: 70vh;
                padding: 1em;
                z-index: 40;

                &__picture{
                    width: 32.2rem;
                    height: auto;
                }

                &__code{
                    display: flex;
                    flex-direction: column;
                    right: -8%;
                    top: 40%;
                    width: 20rem;
                    height: auto;
                    z-index: 30;
    
                    &__one, &__two, &__three, &__four, &__five, &__six{
                        font-size: 1rem;
                    }
                    &__one{
                        top: 20%;
                        left: 15%;
                    }
                    &__two{
                        bottom: 20%;
                        left: 15%;
                    }
                    &__three{
                        top: 50%;
                        right: 15%;
                    }
                    &__four{
                        bottom: 30%;
                        left: 45%;
                    }
                    &__five{
                        top: 50%;
                        left: 5%;
                    }
                    &__six{
                        top: 20%;
                        left: 65%;
                    }
                }

            }
            .Social__Media{
                display: flex;
            }
        } 
        // Desktop
        @include responsive(desktop){
            min-height: 75vh;
            padding: 0 4em;
            padding-top: 2em;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 1rem;
            margin: 0;
            overflow: auto;

            &__info{
                width: 50%;
                min-height: 70vh;
                padding: 1em;

                &__greet{
                    font-size: 2rem;
                    font-weight: 500;
                }
                &__name{
                    margin-top: 2.5rem;
                    font-size: 4rem;
                    line-height: 2rem;
                }
                &__job{
                    font-size: 2rem;
                    line-height: 1rem;
                    margin-top: 2.4rem;
                }
                &__description{
                    margin: .8rem 0;
                    width: 30rem;
                    font-size: 1.3rem;
                }
                // Buttons
                &__btn{
                    justify-content: center;
                    margin: .8rem 0;

                    &__one{
                        font-size: 1.2rem;
                        padding: 1em 1.5em;

                        &:hover{
                            padding: 1em 1.5em;
                        }
                    }
                    &__two{
                        width: 3rem;
                        height: 3rem;
                        padding: 1em;
                        font-size: 1rem;
                    }
                }
                
            }
            &__profil{
                width: 50%;
                min-height: 70vh;
                padding: 1em;
                z-index: 40;

                &__picture{
                    width: 32rem;
                    height: auto;
                }

                &__code{
                    display: flex;
                    flex-direction: column;
                    right: -8%;
                    top: 40%;
                    width: 20rem;
                    height: auto;
                    z-index: 30;
    
                    &__one, &__two, &__three, &__four, &__five, &__six{
                        font-size: 1rem;
                    }
                    &__one{
                        top: 20%;
                        left: 15%;
                    }
                    &__two{
                        bottom: 20%;
                        left: 15%;
                    }
                    &__three{
                        top: 50%;
                        right: 15%;
                    }
                    &__four{
                        bottom: 30%;
                        left: 45%;
                    }
                    &__five{
                        top: 50%;
                        left: 5%;
                    }
                    &__six{
                        top: 20%;
                        left: 65%;
                    }
                }

            }
            .Social__Media{
                display: flex;
            }
        } 
        // Laptop
        @include responsive(laptop){
            min-height: 75vh;
            padding: 0 4em;
            padding-top: 1.5em;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 1rem;
            margin: 0;
            overflow: auto;
        
            &__info{
                width: 50%;
                min-height: 70vh;
                padding: 1em;

                &__greet{
                    font-size: 2rem;
                    font-weight: 500;
                }
                &__name{
                    margin-top: 2.5rem;
                    font-size: 4rem;
                    line-height: 2rem;
                }
                &__job{
                    font-size: 2rem;
                    line-height: 1rem;
                    margin-top: 2.4rem;
                }
                &__description{
                    margin: .8rem 0;
                    width: 30rem;
                    font-size: 1.1rem;
                }
                // Buttons
                &__btn{
                    justify-content: center;
                    margin: .8rem 0;

                    &__one{
                        font-size: 1.2rem;
                        padding: 1em 1.5em;

                        &:hover{
                            padding: 1em 1.5em;
                        }
                    }
                    &__two{
                        width: 3rem;
                        height: 3rem;
                        padding: 1em;
                        font-size: 1rem;
                    }
                }
                
            }
            &__profil{
                width: 50%;
                min-height: 70vh;
                padding: 1em;
                z-index: 40;

                &__picture{
                    width: 30rem;
                    height: auto;
                }

                &__code{
                    display: flex;
                    flex-direction: column;
                    right: -8%;
                    top: 40%;
                    width: 20rem;
                    height: auto;
                    z-index: 30;
    
                    &__one, &__two, &__three, &__four, &__five, &__six{
                        font-size: 1rem;
                    }
                    &__one{
                        top: 20%;
                        left: 15%;
                    }
                    &__two{
                        bottom: 20%;
                        left: 15%;
                    }
                    &__three{
                        top: 50%;
                        right: 15%;
                    }
                    &__four{
                        bottom: 30%;
                        left: 45%;
                    }
                    &__five{
                        top: 50%;
                        left: 5%;
                    }
                    &__six{
                        top: 20%;
                        left: 65%;
                    }
                }

            }
            .Social__Media{
                display: flex;
            }
        } 
        // tablet
        @include responsive(tablet){
            min-height: 60vh;
            gap: .7rem;
            flex-direction: column;
            padding: 0 1em;
            padding-top: 1em;
            align-items: center;
            justify-content: start;
            margin: 0;
            overflow: auto;


            &__info{
                width: 100%;
                min-height: 300px;
                padding: .5em .6em;

                &__greet{
                    font-size: 1.4rem;
                    // color: red;
                    font-weight: 500;
                }
                &__name{
                    margin-top: .9rem;
                    font-size: 3.2rem;
                    line-height: 2rem;
                }
                &__job{
                    font-size: 1.3rem;
                    line-height: 1rem;
                    margin-top: 1.5rem;
                }
                &__description{
                    margin: .8rem 0;
                    width: 80%;
                    font-size: 1rem;
                }
                // Buttons
                &__btn{
                        margin-top: .4rem;
                        justify-content: start;
                    &__one{
                        padding: .8em 1.2em;
                        font-size: .9rem;

                        &:hover{
                            padding: .8em 1.2em;
                            // background-color: #fff;
                            // transition: background .3s ease-in-out;
                            color:#0ea5e9;
                            border-radius: 32px;
                            border: 3px solid #0ea5e9;
                        }
                    }
                    &__two{
                        width: 1.9rem;
                        height: 1.9rem;
                        font-size: 1rem;
                        padding: .5em;
                    }
                }
                
            }
            &__profil{
                width: 100%;
                min-height: 200px;
                display: flex;
                justify-content: center;
                
                &__picture{
                    width: 550px;
                    height: auto;
                }

                &__code{
                    right: 18%;
                    top: 40%;
                    font-size: 1rem;
                    
    
                    &__one, &__two, &__three, &__four, &__five, &__six{
                        font-size: 1rem;
                    }
                    &__one{
                        top: 10%;
                        left: 30%;
                        z-index: 1;
                    }
                    &__two{
                        bottom: 20%;
                        left: 35%;
                    }
                    &__three{
                        bottom: 30%;
                        right: 30%;
                    }
                    &__four{
                        bottom: 25%;
                        left: 65%;
                    }
                    &__five{
                        top: 50%;
                        left: 25%;
                    }
                    &__six{
                        top: 20%;
                        left: 55%;
                    }
                }

            }
            .Social__Media{
                display: none;
            }
        } 
        // mobile
        @include responsive(mobile){
            min-height: 50vh;
            gap: .5rem;
            flex-direction: column;
            padding: .5em 1em;
            padding-top: 1em;
            align-items: center;
            justify-content: start;
            margin: 0;


            &__info{
                width: 100%;
                height: 300px;
                padding: 1em .6em;

                &__greet{
                    font-size: 1rem;
                    // color: red;
                    font-weight: 400;
                }
                &__name{
                    margin-top: .1rem;
                    font-size: 2.2rem;
                    line-height: 2rem;
                }
                &__job{
                    font-size: 1.1rem;
                    line-height: 1rem;
                    margin-top: 1rem;
                }
                &__description{
                    margin: .4rem 0;
                    width: 100%;
                    font-size: .9rem;
                }
                // Buttons
                &__btn{
                        margin-top: .4rem;
                        justify-content: start;
                    &__one{
                        padding: .5em 1em;
                        font-size: .8rem;

                        &:hover{
                            padding: .5em 1em;
                            // background-color: #fff;
                            // transition: background .3s ease-in-out;
                            color:#0ea5e9;
                            border-radius: 32px;
                            border: 3px solid #0ea5e9;
                        }
                    }
                    &__two{
                        width: 1.5rem;
                        height: 1.5rem;
                        font-size: .8rem;
                        padding: .3em;
                    }
                }
                
            }
            &__profil{
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: center;
                
                &__picture{
                    width: 380px;
                    height: auto;
                }

                &__code{
                    right: 4%;
                    top: 40%;
                    // width: 10rem;
                    // height: auto;
                    font-size: .8rem;
    
                    &__one, &__two, &__three, &__four, &__five, &__six{
                        font-size: .8rem;
                    }
                    &__one{
                        top: 10%;
                        left: 20%;
                        z-index: 1;
                    }
                    &__two{
                        bottom: 20%;
                        left: 25%;
                    }
                    &__three{
                        bottom: 30%;
                        right: 20%;
                    }
                    &__four{
                        bottom: 25%;
                        left: 55%;
                    }
                    &__five{
                        top: 50%;
                        left: 15%;
                    }
                    &__six{
                        top: 20%;
                        left: 65%;
                    }
                }

            }
            .Social__Media{
                display: none;
            }

        } 
    }

    // SCROLLING TEXT
    .text__infinite{
        transition: background .3s ease-in-out;

        @include responsive(large-wide){
            height: 8rem;
            padding: .2em;

            &__scroll{
                &__one{
                    font-size: 8rem;                  
                }
            }
            
        }
        @include responsive(desktop){
            height: 8rem;
            padding: .2em;

            &__scroll{
                &__one{
                    font-size: 8rem;
                }
            }
        }
        @include responsive(laptop){
            height: 6rem;
            padding: .2em;

            &__scroll{
                &__one{
                    font-size: 6rem;
                }
            }
        }
        @include responsive(tablet){
            height: 3rem;
            padding: .2em;

            &__scroll{
                &__one{
                    font-size: 3rem;
                }
            }
        }
        @include responsive(mobile){
            height: 3rem;
            padding: .2em;

            &__scroll{
                &__one{
                    font-size: 2rem;
                }
            }
        }
    }
    // footer
    .footer{
        @include responsive(large-wide){
            background-color: #000000;
            color: $dark-theme-clr;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            
            h5{
                font-size: 2rem;
            }

            hr{
                width: 80vw;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }

            &__content{
                flex-direction: row;
                justify-content: space-between;
                
                &__social__media{
                    a.instagram-icon, a.github-icon, a.youtube-icon, a.twitter-icon, a.facebook-icon, a.tiktok-icon, a.linkedin-icon{
                        width: 2rem;
                        height: 2rem;
                        font-size: 1.3rem;
                    }
                }
                &__copyright{
                    font-size: 1rem;
                    margin: .7rem 0;
                }
            }
            .backTop{
                right: 3rem;
                bottom: 2rem;
                width: 2.5rem;
                height: 2.5rem;
                font-size: 1.5rem;
            }
        }       
        @include responsive(desktop){
            background-color: #000000;
            color: $dark-theme-clr;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            
            h5{
                font-size: 1.5rem;
            }

            hr{
                width: 80vw;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }

            &__content{
                flex-direction: row;
                justify-content: space-between;
                
                &__social__media{
                    a.instagram-icon, a.github-icon, a.youtube-icon, a.twitter-icon, a.facebook-icon, a.tiktok-icon, a.linkedin-icon{
                        width: 2rem;
                        height: 2rem;
                        font-size: 1.3rem;
                    }
                }
                &__copyright{
                    font-size: 1rem;
                    margin: .7rem 0;
                }
            }
            .backTop{
                right: 3rem;
                bottom: 2rem;
                width: 2.5rem;
                height: 2.5rem;
                font-size: 1.5rem;
            }
        }       
        @include responsive(laptop){
            background-color: #000000;
            color: $dark-theme-clr;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            
            h5{
                font-size: 1.5rem;
            }

            hr{
                width: 80vw;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }

            &__content{
                flex-direction: row;
                justify-content: space-between;
                
                &__social__media{
                    a.instagram-icon, a.github-icon, a.youtube-icon, a.twitter-icon, a.facebook-icon, a.tiktok-icon, a.linkedin-icon{
                        width: 1.5rem;
                        height: 1.5rem;
                        font-size: 1rem;
                    }
                }
                &__copyright{
                    font-size: .8rem;
                    margin: .7rem 0;
                }
            }
            .backTop{
                right: 3rem;
                bottom: 2rem;
                width: 2.5rem;
                height: 2.5rem;
                font-size: 1.5rem;
            }
        }
        @include responsive(tablet){
            background-color: #000000;
            color: $dark-theme-clr;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            
            h5{
                font-size: 1.5rem;
            }

            hr{
                width: 50vw;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }

            &__content{
                flex-direction: column;
                
                &__social__media{
                    a.instagram-icon, a.github-icon, a.youtube-icon, a.twitter-icon, a.facebook-icon, a.tiktok-icon, a.linkedin-icon{
                        width: 1.6rem;
                        height: 1.6rem;
                        font-size: 1rem;

                    }
                }
                &__copyright{
                    font-size: 1rem;
                    margin: .7rem 0;
                }
            }
            .backTop{
                right: 1.8rem;
                bottom: 2rem;
                width: 2.2rem;
                height: 2.2rem;
                font-size: 1.2rem;
            }
        }
        @include responsive(mobile){
            background-color: #000000;
            color: $dark-theme-clr;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            h5{
                font-size: 1rem;
            }

            hr{
                width: 50vw;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }

            &__content{
                flex-direction: column;
                
                &__social__media{
                    a.instagram-icon, a.github-icon, a.youtube-icon, a.twitter-icon, a.facebook-icon, a.tiktok-icon, a.linkedin-icon{
                        width: 1.4rem;
                        height: 1.4rem;
                        font-size: .8rem;

                    }
                }
                &__copyright{
                    font-size: .8rem;
                    margin: .5rem 0;
                }
            }
            .backTop{
                right: 1.2rem;
                bottom: 2rem;
                width: 1.5rem;
                height: 1.5rem;
                font-size: 1rem;
            }
        }       
    }
}