.container {
  position: relative;
}
.container .Header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 50;
  transition: background 0.3s ease-in-out;
}
.container .Header__logo {
  cursor: pointer;
}
.container .Header__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.5rem;
}
.container .Header__logo__picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 4px solid #60a5fa;
}
.container .Header__logo h3 {
  text-decoration: none;
  list-style: none;
  letter-spacing: 1px;
}
.container .Header__navbar {
  align-items: center;
  justify-content: center;
  z-index: 40;
}
.container .Header__navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.container .Header__navbar li {
  list-style: none;
}
.container .Header__navbar li a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
  gap: 0.3rem;
}
.container .Header__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.container .Header__contact__hamburgerBtn {
  border: none;
  background: none;
  font-size: 1.3rem;
  z-index: 70;
}
.container .Header__contact__contactMe {
  border: none;
  background: blue;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
.container .Header__contact__contactMe a {
  color: #fff;
}

.social-media {
  position: absolute;
  padding-top: 4rem;
}
.social-media ul li {
  list-style-type: none;
  /* display: none; */
  cursor: pointer;
}
.social-media ul li a {
  align-items: center;
  justify-content: start;
  text-decoration: none;
  gap: 0.3rem;
  color: #94a3b8;
}
.social-media ul li a.Instagram-icon:hover {
  color: #C13584;
}
.social-media ul li a.Github-icon:hover {
  color: #000;
}
.social-media ul li a.Youtube-icon:hover {
  color: rgb(255, 0, 0);
}
.social-media ul li a.Twitter-icon:hover {
  color: #000;
}
.social-media ul li a.Facebook-icon:hover {
  color: #1877F2;
}
.social-media ul li a.Tiktok-icon:hover {
  color: #1a1919;
}
.social-media ul li a.Linkedin-icon:hover {
  color: #0e76a8;
}

.Switch-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  background: #f1f5f9;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #475569;
  cursor: pointer;
  border: 1px solid #cbd5e1;
  font-size: 1.1rem;
}

.container .Hero {
  position: relative;
  width: 100vw;
  display: flex;
}
.container .Hero__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.2rem;
}
.container .Hero__info__greet {
  line-height: 2rem;
}
.container .Hero__info__name {
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: orangered;
}
.container .Hero__info__job {
  line-height: 1rem;
  color: #0ea5e9;
}
.container .Hero__info hr {
  content: "";
  background-color: #F1C21B;
  height: 1px;
  transform-origin: center left;
  border: none;
  width: 5rem;
  margin-top: 1.5rem;
}
.container .Hero__info__description {
  line-height: 2;
}
.container .Hero__info__btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container .Hero__info__btn__one {
  background-color: #0ea5e9;
  color: #fff;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 600;
  line-height: 1;
  text-shadow: none;
  transition-property: box-shadow, transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
  cursor: pointer;
  border-radius: 290486px;
}
.container .Hero__info__btn__one:hover {
  background-color: #fff;
  transition: background 0.3s ease-in-out;
  color: #0ea5e9;
  border-radius: 32px;
  border: 3px solid #0ea5e9;
}
.container .Hero__info__btn__two {
  background-color: #0ea5e9;
  color: #fff;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 600;
  line-height: 1;
  text-shadow: none;
  transition-property: box-shadow, transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
  cursor: pointer;
  border-radius: 290486px;
  border-radius: 50%;
  background-color: #000;
  font-weight: bold;
  margin-left: 0.3rem;
}
.container .Hero__profil {
  position: relative;
}
.container .Hero__profil__picture {
  position: absolute;
  z-index: 40;
}
.container .Hero__profil__code {
  position: absolute;
  color: orangered;
  opacity: 0.6;
  font-weight: 900;
}
.container .Hero__profil__code__one, .container .Hero__profil__code__two, .container .Hero__profil__code__three, .container .Hero__profil__code__four, .container .Hero__profil__code__five, .container .Hero__profil__code__six {
  position: absolute;
  color: orangered;
  opacity: 0.6;
  font-weight: 900;
}
.container .Hero__profil__code__one {
  z-index: 1;
}

.container .About {
  width: 100%;
  min-height: 100vh;
  padding-top: 3em;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}
.container .About__slider {
  width: 35%;
  min-height: 600px;
  background-color: red;
  padding: 1rem;
}
.container .About__content {
  width: 50%;
  min-height: 50vh;
  background-color: blue;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container .About__content__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
}
.container .About__content__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.41rem;
  padding: 1rem;
  background: yellow;
  width: 8rem;
  height: 3rem;
  border-radius: 40px;
  border: 1px solid #000;
}
.container .About__content__btn__toggle {
  position: absolute;
  top: 12%;
  right: 3%;
  background-color: #fff;
  opacity: 0.6;
  width: 4rem;
  border: 1px solid #4d4c4c;
  height: 1.5rem;
  padding: 1em;
  border-radius: 40px;
}
.container .About__content__btn__one {
  font-weight: bold;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
}
.container .About__content__btn__two {
  font-weight: bold;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
}
.container .About__content__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .About__content__wrapper__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.container .About__content__wrapper__info__intro h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.container .About__content__wrapper__info__intro p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.container .About__content__wrapper__info__knowledge {
  display: flex;
}
.container .About__content__wrapper__skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container .Services {
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  transition: background 0.3s ease-in-out;
}
.container .Services__title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.container .Services__help {
  font-size: 3rem;
  padding-bottom: 0.9em;
  font-weight: 400;
}
.container .Services__wrapper {
  width: 90%;
  min-height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6); */
  border: 2px solid orangered;
  z-index: 20;
  padding: 2rem;
  -webkit-backdrop-filter: blur(10px) brightness(90%);
          backdrop-filter: blur(10px) brightness(90%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.container .Services__wrapper__card {
  position: relative;
  width: 20rem;
  height: 20rem;
  z-index: 30;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 15px 50px;
  padding: 1.5em 1em;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.container .Services__wrapper__card:hover {
  background: orangered;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.container .Services__wrapper__card:hover .Services__wrapper__card__number {
  opacity: 0.4;
}
.container .Services__wrapper__card:hover .Services__wrapper__card__img {
  border: 5px solid rgb(182, 182, 184);
  background: #ffffff;
}
.container .Services__wrapper__card__number {
  position: absolute;
  top: 35%;
  right: 15%;
  font-size: 10rem;
  opacity: 0.09;
  font-weight: bold;
  padding: 0;
  margin: 0;
  background: none;
}
.container .Services__wrapper__card__img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  z-index: 30;
  display: grid;
  place-items: center;
  border: 5px solid orangered;
}
.container .Services__wrapper__card__img img {
  width: 30px;
  height: 30px;
  /* padding: 1em; */
  -o-object-fit: cover;
     object-fit: cover;
}
.container .Services__wrapper__card__title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.container .Services__wrapper__card__details {
  font-size: 1.1rem;
  text-align: start;
  text-align: justify;
}

.container .Videos {
  width: 100%;
  min-height: 70vh;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  transition: background 0.3s ease-in-out;
  padding: 1em;
}
.container .Videos__title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.container .Videos__watch {
  font-size: 3rem;
  padding-bottom: 0.3em;
  font-weight: 400;
}
.container .Videos__container {
  max-width: 80rem;
  height: 500px;
  padding: 0.5em;
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
  overflow-x: hidden;
}
.container .Videos__container__card {
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  border: 3px solid #fff;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: calc(1200px + 3rem);
}
.container .Videos__container__card__img {
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 250px;
  display: grid;
  place-items: center;
}
.container .Videos__container__card__img__picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .Videos__container__card__img__label {
  position: absolute;
  top: 10%;
  right: 5%;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(2, 218, 2);
  padding: 0.2em 1em;
  border-radius: 0.5em;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid rgb(11, 248, 11);
}
.container .Videos__container__card__content {
  background: #fff;
  padding: 0.5em;
  width: 400px;
  height: 200px;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.container .Videos__container__card__content__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 3px 0;
}
.container .Videos__container__card__content__description {
  font-size: 0.9rem;
  text-align: start;
  text-align: justify;
  margin-bottom: 1rem;
  padding: 0 0.6em;
  font-weight: 500;
}
.container .Videos__container__card__content__profil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  gap: 1rem;
}
.container .Videos__container__card__content__profil__author {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
}
.container .Videos__container__card__content__profil__author__picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 5px solid orangered;
}
.container .Videos__container__card__content__profil__author__name {
  font-size: 0.8rem;
  text-align: start;
  font-weight: bold;
  font-family: "roboto", sans-serif;
}
.container .Videos__container__card__content__profil__dateButton {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
}
.container .Videos__container__card__content__profil__dateButton__date {
  font-size: 0.7rem;
  text-align: start;
  color: #747272;
  font-weight: 700;
}
.container .Videos__container__card__content__profil__dateButton button {
  border: none;
}
.container .Videos__container__card__content__profil__dateButton__btn {
  background: orangered;
  color: #fff;
  padding: 0.4em 1.2em;
  border-radius: 0.2em;
  font-size: 1rem;
  font-weight: bold;
}

.container .Contact {
  width: 100%;
  min-height: 70vh;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .Contact__title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.container .Contact__touch {
  font-size: 3rem;
  padding-bottom: 0.3em;
  font-weight: 400;
}
.container .Contact__form {
  width: 80vw;
  min-height: 600px;
  border-radius: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: start;
  justify-content: start;
  overflow: hidden;
}
.container .Contact__form__map {
  background: greenyellow;
  width: 40vw;
  min-height: 600px;
}
.container .Contact__form__content {
  background: white;
  width: 40vw;
  min-height: 600px;
  padding: 18px 12px;
}
.container .Contact__form__content form {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
}

.Social__Media {
  position: fixed;
  display: none;
  flex-direction: column; /* Align icons vertically */
  top: 50%;
  right: -9vw; /* Adjust the positioning as needed */
  transform: translateY(-40%);
  z-index: 20;
}
.Social__Media li {
  list-style-type: none;
  cursor: pointer;
}
.Social__Media li a {
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  background-color: #bae6fd;
  gap: 0.3rem;
  color: rgb(92, 90, 90);
  font-size: 1.5rem;
  padding: 0.2em 0.4em;
}
.Social__Media li a:hover {
  transform: scale(1.1) translateX(-8.3vw);
  transition: transform 0.5s ease;
}
.Social__Media li a.Instagram-icon:hover {
  color: #C13584;
}
.Social__Media li a.Github-icon:hover {
  color: #000;
}
.Social__Media li a.Youtube-icon:hover {
  color: rgb(255, 0, 0);
}
.Social__Media li a.Twitter-icon:hover {
  color: #000;
}
.Social__Media li a.Facebook-icon:hover {
  color: #1877F2;
}
.Social__Media li a.Tiktok-icon:hover {
  color: #1a1919;
}
.Social__Media li a.Linkedin-icon:hover {
  color: #0e76a8;
}

.container .text__infinite {
  width: 100%;
  display: flex;
  justify-content: bottom;
  align-items: center;
  font-family: "legend", sans-serif;
  position: relative;
}
.container .text__infinite__scroll {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.container .text__infinite__scroll__one {
  display: flex;
  align-items: center;
  justify-content: center;
  word-spacing: 0.3rem;
  font-size: bold;
  cursor: pointer;
  animation: scroll 360s linear infinite;
}
.container .text__infinite__scroll__one div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: orangered;
}
.container .text__infinite__scroll__one span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  -webkit-text-stroke: 2px orangered;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.container .text__infinite__scroll__one:hover {
  animation-play-state: paused;
}

.container .Contact .leaflet-container {
  width: 100%;
  min-height: 600px;
  z-index: 10;
}

/*

var mymap = L.map('map')

#map{
    width: 100%;
    min-height: 600px;
    z-index: 10;
}
Sources:
https://zhiqiyu.github.io/post/react-leaflet-setup/
*/
.container .CountUp {
  width: 100vw;
  min-height: 200px;
  padding: 1em 0;
  display: grid;
  place-items: center;
  margin: 0;
}
.container .CountUp__wrapper {
  width: 50rem;
  height: 200px;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.container .CountUp__wrapper__experience, .container .CountUp__wrapper__project, .container .CountUp__wrapper__subscribers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 8px;
  min-width: 150px;
  min-height: 120px;
}
.container .CountUp__wrapper__experience__icon, .container .CountUp__wrapper__experience__number, .container .CountUp__wrapper__project__icon, .container .CountUp__wrapper__project__number, .container .CountUp__wrapper__subscribers__icon, .container .CountUp__wrapper__subscribers__number {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.container .CountUp__wrapper__experience__title, .container .CountUp__wrapper__project__title, .container .CountUp__wrapper__subscribers__title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
.container .CountUp__wrapper__experience::before, .container .CountUp__wrapper__project::before {
  position: absolute;
  content: "";
  right: 0;
  border-right: 1px solid black;
  height: 60px;
  display: block;
}

.container .footer {
  width: 100%;
  height: auto;
  position: relative;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.container .footer h5 {
  text-align: center;
  margin-bottom: 1rem;
}
.container .footer hr {
  height: 0.1rem;
  color: rgb(95, 101, 160);
}
.container .footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .footer__content__social__media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  order: 2;
}
.container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
  border: 1px solid rgb(95, 101, 160);
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: #ffffff;
  color: #000;
  cursor: pointer;
}
.container .footer__content__social__media a.instagram-icon:hover {
  color: #C13584;
}
.container .footer__content__social__media a.github-icon:hover {
  color: #000;
}
.container .footer__content__social__media a.youtube-icon:hover {
  color: rgb(255, 0, 0);
}
.container .footer__content__social__media a.twitter-icon:hover {
  color: #000;
}
.container .footer__content__social__media a.facebook-icon:hover {
  color: #1877F2;
}
.container .footer__content__social__media a.tiktok-icon:hover {
  color: #1a1919;
}
.container .footer__content__social__media a.linkedin-icon:hover {
  color: #0e76a8;
}
.container .footer__content__copyright {
  display: flex;
  order: 1;
  margin-top: 1rem;
  text-align: center;
}
.container .footer button {
  border: none;
}
.container .footer .backTop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(114, 227, 247);
  z-index: 99;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.container .footer a {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.dark-mode a {
  color: #fff;
}

.dark-mode {
  background: #172554; /* Dark mode background */
  color: #fff; /* Dark mode text color */
}

.container {
  width: 100vw;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  background: #dbeafe; /* Default light mode background */
  color: #000; /* Default light mode text color */
  transition: background 0.3s ease-in-out;
  line-height: 1.5;
  margin: 0;
}
.container .Header {
  background: #dbeafe;
  transition: background 0.3s ease-in-out;
}
@media only screen and (min-width: 1300px) {
  .container .Header {
    position: sticky;
    top: 0;
    height: 6rem;
    padding: 0 3em;
  }
  .container .Header.dark-mode {
    background: #172554;
  }
  .container .Header__logo__name {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .container .Header__navbar {
    display: flex;
    flex-direction: row;
  }
  .container .Header__navbar ul li {
    font-weight: bold;
  }
  .container .Header__navbar .active {
    background-color: blue;
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
    display: block;
  }
  .container .Header__navbar ul li a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
  }
  .container .Header__contact__hamburgerBtn {
    display: none;
  }
  .container .Header__contact__contactMe {
    padding: 1em 1.4em;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1299px) {
  .container .Header {
    position: sticky;
    top: 0;
    height: 6rem;
    padding: 0 3em;
  }
  .container .Header.dark-mode {
    background: #172554;
  }
  .container .Header__logo__name {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .container .Header__navbar {
    display: flex;
    flex-direction: row;
  }
  .container .Header__navbar ul li {
    font-weight: bold;
  }
  .container .Header__navbar .active {
    background-color: blue;
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
    display: block;
  }
  .container .Header__navbar ul li a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
  }
  .container .Header__contact__hamburgerBtn {
    display: none;
  }
  .container .Header__contact__contactMe {
    padding: 1em 1.4em;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .container .Header {
    position: sticky;
    top: 0;
    height: 6rem;
    padding: 0 3em;
  }
  .container .Header.dark-mode {
    background: #172554;
  }
  .container .Header__logo__name {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .container .Header__navbar {
    display: flex;
    flex-direction: row;
  }
  .container .Header__navbar ul li {
    font-weight: bold;
  }
  .container .Header__navbar .active {
    background-color: blue;
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
    display: block;
  }
  .container .Header__navbar ul li a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
  }
  .container .Header__contact__hamburgerBtn {
    display: none;
  }
  .container .Header__contact__contactMe {
    padding: 1em 1.4em;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .container .Header {
    position: relative;
    height: 4rem;
    padding: 0 1.5em;
  }
  .container .Header.dark-mode {
    background: #172554;
  }
  .container .Header__logo__name {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .container .Header__navbar {
    position: fixed;
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background: rgba(22, 101, 52, 0.6);
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
    width: 100%;
    height: 100vh;
    right: 0;
    left: 100%;
    top: 0;
    bottom: 0;
  }
  .container .Header__navbar ul {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .Header__navbar ul li {
    width: 100%;
    font-size: 1.2rem;
    gap: 3rem;
    text-align: center;
    font-weight: bold;
  }
  .container .Header__navbar ul li a {
    color: #fff;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .Header__navbar .active {
    background-color: blue;
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
    display: block;
  }
  .container .Header__navbar ul li a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
  }
  @keyframes slideInLeft {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  .container .Header__navbar.open {
    display: flex;
    left: 0;
    animation: slideInLeft 0.5s ease forwards;
  }
  .container .Header__contact__hamburgerBtn {
    display: flex;
  }
  .container .Header__contact__contactMe {
    padding: 0.7em 1.3em;
    font-size: 0.8rem;
  }
  .container .Header__contact .Switch-btn {
    width: 1.8rem;
    height: 1.8rem;
  }
}
@media only screen and (max-width: 499px) {
  .container .Header {
    position: relative;
    height: 4rem;
    padding: 0 1em;
  }
  .container .Header.dark-mode {
    background: #172554;
  }
  .container .Header__logo__name {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .container .Header__navbar {
    position: fixed;
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
    width: 100%;
    height: 100vh;
    right: 0;
    left: 100%;
    top: 0;
    bottom: 0;
  }
  .container .Header__navbar ul {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .Header__navbar ul li {
    font-size: 0.8rem;
    gap: 3rem;
    text-align: center;
    font-weight: bold;
  }
  .container .Header__navbar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: #fff;
    width: 90%;
    margin: 0 0.2rem;
  }
  .container .Header__navbar .active {
    background-color: blue;
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
    display: block;
  }
  .container .Header__navbar ul li a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.3); /* Corrected rgba format */
    border-radius: 5px;
    padding: 0.4em;
    color: #fff;
  }
  @keyframes slideInLeft {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  .container .Header__navbar.open {
    display: flex;
    left: 0;
    animation: slideInLeft 0.5s ease forwards;
  }
  .container .Header__contact__hamburgerBtn {
    display: flex;
  }
  .container .Header__contact__contactMe {
    padding: 0.5em 1.2em;
    font-size: 0.9rem;
  }
  .container .Header__contact .Switch-btn {
    width: 1.8rem;
    height: 1.8rem;
  }
}
@media only screen and (min-width: 1300px) {
  .container .social-media {
    display: none;
  }
}
@media only screen and (max-width: 1299px) {
  .container .social-media {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .container .social-media {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .container .social-media {
    display: flex;
    bottom: 4rem;
  }
  .container .social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .container .social-media ul li a {
    font-size: 1.2rem;
    display: grid;
    place-items: center;
  }
}
@media only screen and (max-width: 499px) {
  .container .social-media {
    display: flex;
    bottom: 4rem;
  }
  .container .social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .container .social-media ul li a {
    font-size: 1rem;
    display: grid;
    place-items: center;
  }
}
.container .Hero {
  transition: background 0.3s ease-in-out;
}
@media only screen and (min-width: 1300px) {
  .container .Hero {
    min-height: 75vh;
    padding: 0 4em;
    padding-top: 2em;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin: 0;
    overflow: auto;
  }
  .container .Hero__info {
    width: 50%;
    min-height: 70vh;
    padding: 1em;
    z-index: 40;
  }
  .container .Hero__info__greet {
    font-size: 2rem;
    font-weight: 500;
  }
  .container .Hero__info__name {
    margin-top: 2.5rem;
    font-size: 4rem;
    line-height: 2rem;
  }
  .container .Hero__info__job {
    font-size: 2rem;
    line-height: 1rem;
    margin-top: 2.4rem;
  }
  .container .Hero__info__description {
    margin: 0.8rem 0;
    width: 30rem;
    font-size: 1.3rem;
  }
  .container .Hero__info__btn {
    justify-content: center;
    margin: 0.8rem 0;
    padding-bottom: 0;
  }
  .container .Hero__info__btn__one {
    font-size: 1.2rem;
    padding: 1em 1.5em;
  }
  .container .Hero__info__btn__one:hover {
    padding: 1em 1.5em;
  }
  .container .Hero__info__btn__two {
    width: 3rem;
    height: 3rem;
    padding: 1em;
    font-size: 1rem;
  }
  .container .Hero__profil {
    width: 50%;
    min-height: 70vh;
    padding: 1em;
    z-index: 40;
  }
  .container .Hero__profil__picture {
    width: 32.2rem;
    height: auto;
  }
  .container .Hero__profil__code {
    display: flex;
    flex-direction: column;
    right: -8%;
    top: 40%;
    width: 20rem;
    height: auto;
    z-index: 30;
  }
  .container .Hero__profil__code__one, .container .Hero__profil__code__two, .container .Hero__profil__code__three, .container .Hero__profil__code__four, .container .Hero__profil__code__five, .container .Hero__profil__code__six {
    font-size: 1rem;
  }
  .container .Hero__profil__code__one {
    top: 20%;
    left: 15%;
  }
  .container .Hero__profil__code__two {
    bottom: 20%;
    left: 15%;
  }
  .container .Hero__profil__code__three {
    top: 50%;
    right: 15%;
  }
  .container .Hero__profil__code__four {
    bottom: 30%;
    left: 45%;
  }
  .container .Hero__profil__code__five {
    top: 50%;
    left: 5%;
  }
  .container .Hero__profil__code__six {
    top: 20%;
    left: 65%;
  }
  .container .Hero .Social__Media {
    display: flex;
  }
}
@media only screen and (max-width: 1299px) {
  .container .Hero {
    min-height: 75vh;
    padding: 0 4em;
    padding-top: 2em;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin: 0;
    overflow: auto;
  }
  .container .Hero__info {
    width: 50%;
    min-height: 70vh;
    padding: 1em;
  }
  .container .Hero__info__greet {
    font-size: 2rem;
    font-weight: 500;
  }
  .container .Hero__info__name {
    margin-top: 2.5rem;
    font-size: 4rem;
    line-height: 2rem;
  }
  .container .Hero__info__job {
    font-size: 2rem;
    line-height: 1rem;
    margin-top: 2.4rem;
  }
  .container .Hero__info__description {
    margin: 0.8rem 0;
    width: 30rem;
    font-size: 1.3rem;
  }
  .container .Hero__info__btn {
    justify-content: center;
    margin: 0.8rem 0;
  }
  .container .Hero__info__btn__one {
    font-size: 1.2rem;
    padding: 1em 1.5em;
  }
  .container .Hero__info__btn__one:hover {
    padding: 1em 1.5em;
  }
  .container .Hero__info__btn__two {
    width: 3rem;
    height: 3rem;
    padding: 1em;
    font-size: 1rem;
  }
  .container .Hero__profil {
    width: 50%;
    min-height: 70vh;
    padding: 1em;
    z-index: 40;
  }
  .container .Hero__profil__picture {
    width: 32rem;
    height: auto;
  }
  .container .Hero__profil__code {
    display: flex;
    flex-direction: column;
    right: -8%;
    top: 40%;
    width: 20rem;
    height: auto;
    z-index: 30;
  }
  .container .Hero__profil__code__one, .container .Hero__profil__code__two, .container .Hero__profil__code__three, .container .Hero__profil__code__four, .container .Hero__profil__code__five, .container .Hero__profil__code__six {
    font-size: 1rem;
  }
  .container .Hero__profil__code__one {
    top: 20%;
    left: 15%;
  }
  .container .Hero__profil__code__two {
    bottom: 20%;
    left: 15%;
  }
  .container .Hero__profil__code__three {
    top: 50%;
    right: 15%;
  }
  .container .Hero__profil__code__four {
    bottom: 30%;
    left: 45%;
  }
  .container .Hero__profil__code__five {
    top: 50%;
    left: 5%;
  }
  .container .Hero__profil__code__six {
    top: 20%;
    left: 65%;
  }
  .container .Hero .Social__Media {
    display: flex;
  }
}
@media only screen and (max-width: 992px) {
  .container .Hero {
    min-height: 75vh;
    padding: 0 4em;
    padding-top: 1.5em;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin: 0;
    overflow: auto;
  }
  .container .Hero__info {
    width: 50%;
    min-height: 70vh;
    padding: 1em;
  }
  .container .Hero__info__greet {
    font-size: 2rem;
    font-weight: 500;
  }
  .container .Hero__info__name {
    margin-top: 2.5rem;
    font-size: 4rem;
    line-height: 2rem;
  }
  .container .Hero__info__job {
    font-size: 2rem;
    line-height: 1rem;
    margin-top: 2.4rem;
  }
  .container .Hero__info__description {
    margin: 0.8rem 0;
    width: 30rem;
    font-size: 1.1rem;
  }
  .container .Hero__info__btn {
    justify-content: center;
    margin: 0.8rem 0;
  }
  .container .Hero__info__btn__one {
    font-size: 1.2rem;
    padding: 1em 1.5em;
  }
  .container .Hero__info__btn__one:hover {
    padding: 1em 1.5em;
  }
  .container .Hero__info__btn__two {
    width: 3rem;
    height: 3rem;
    padding: 1em;
    font-size: 1rem;
  }
  .container .Hero__profil {
    width: 50%;
    min-height: 70vh;
    padding: 1em;
    z-index: 40;
  }
  .container .Hero__profil__picture {
    width: 30rem;
    height: auto;
  }
  .container .Hero__profil__code {
    display: flex;
    flex-direction: column;
    right: -8%;
    top: 40%;
    width: 20rem;
    height: auto;
    z-index: 30;
  }
  .container .Hero__profil__code__one, .container .Hero__profil__code__two, .container .Hero__profil__code__three, .container .Hero__profil__code__four, .container .Hero__profil__code__five, .container .Hero__profil__code__six {
    font-size: 1rem;
  }
  .container .Hero__profil__code__one {
    top: 20%;
    left: 15%;
  }
  .container .Hero__profil__code__two {
    bottom: 20%;
    left: 15%;
  }
  .container .Hero__profil__code__three {
    top: 50%;
    right: 15%;
  }
  .container .Hero__profil__code__four {
    bottom: 30%;
    left: 45%;
  }
  .container .Hero__profil__code__five {
    top: 50%;
    left: 5%;
  }
  .container .Hero__profil__code__six {
    top: 20%;
    left: 65%;
  }
  .container .Hero .Social__Media {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .container .Hero {
    min-height: 60vh;
    gap: 0.7rem;
    flex-direction: column;
    padding: 0 1em;
    padding-top: 1em;
    align-items: center;
    justify-content: start;
    margin: 0;
    overflow: auto;
  }
  .container .Hero__info {
    width: 100%;
    min-height: 300px;
    padding: 0.5em 0.6em;
  }
  .container .Hero__info__greet {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .container .Hero__info__name {
    margin-top: 0.9rem;
    font-size: 3.2rem;
    line-height: 2rem;
  }
  .container .Hero__info__job {
    font-size: 1.3rem;
    line-height: 1rem;
    margin-top: 1.5rem;
  }
  .container .Hero__info__description {
    margin: 0.8rem 0;
    width: 80%;
    font-size: 1rem;
  }
  .container .Hero__info__btn {
    margin-top: 0.4rem;
    justify-content: start;
  }
  .container .Hero__info__btn__one {
    padding: 0.8em 1.2em;
    font-size: 0.9rem;
  }
  .container .Hero__info__btn__one:hover {
    padding: 0.8em 1.2em;
    color: #0ea5e9;
    border-radius: 32px;
    border: 3px solid #0ea5e9;
  }
  .container .Hero__info__btn__two {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 1rem;
    padding: 0.5em;
  }
  .container .Hero__profil {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
  }
  .container .Hero__profil__picture {
    width: 550px;
    height: auto;
  }
  .container .Hero__profil__code {
    right: 18%;
    top: 40%;
    font-size: 1rem;
  }
  .container .Hero__profil__code__one, .container .Hero__profil__code__two, .container .Hero__profil__code__three, .container .Hero__profil__code__four, .container .Hero__profil__code__five, .container .Hero__profil__code__six {
    font-size: 1rem;
  }
  .container .Hero__profil__code__one {
    top: 10%;
    left: 30%;
    z-index: 1;
  }
  .container .Hero__profil__code__two {
    bottom: 20%;
    left: 35%;
  }
  .container .Hero__profil__code__three {
    bottom: 30%;
    right: 30%;
  }
  .container .Hero__profil__code__four {
    bottom: 25%;
    left: 65%;
  }
  .container .Hero__profil__code__five {
    top: 50%;
    left: 25%;
  }
  .container .Hero__profil__code__six {
    top: 20%;
    left: 55%;
  }
  .container .Hero .Social__Media {
    display: none;
  }
}
@media only screen and (max-width: 499px) {
  .container .Hero {
    min-height: 50vh;
    gap: 0.5rem;
    flex-direction: column;
    padding: 0.5em 1em;
    padding-top: 1em;
    align-items: center;
    justify-content: start;
    margin: 0;
  }
  .container .Hero__info {
    width: 100%;
    height: 300px;
    padding: 1em 0.6em;
  }
  .container .Hero__info__greet {
    font-size: 1rem;
    font-weight: 400;
  }
  .container .Hero__info__name {
    margin-top: 0.1rem;
    font-size: 2.2rem;
    line-height: 2rem;
  }
  .container .Hero__info__job {
    font-size: 1.1rem;
    line-height: 1rem;
    margin-top: 1rem;
  }
  .container .Hero__info__description {
    margin: 0.4rem 0;
    width: 100%;
    font-size: 0.9rem;
  }
  .container .Hero__info__btn {
    margin-top: 0.4rem;
    justify-content: start;
  }
  .container .Hero__info__btn__one {
    padding: 0.5em 1em;
    font-size: 0.8rem;
  }
  .container .Hero__info__btn__one:hover {
    padding: 0.5em 1em;
    color: #0ea5e9;
    border-radius: 32px;
    border: 3px solid #0ea5e9;
  }
  .container .Hero__info__btn__two {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    padding: 0.3em;
  }
  .container .Hero__profil {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
  }
  .container .Hero__profil__picture {
    width: 380px;
    height: auto;
  }
  .container .Hero__profil__code {
    right: 4%;
    top: 40%;
    font-size: 0.8rem;
  }
  .container .Hero__profil__code__one, .container .Hero__profil__code__two, .container .Hero__profil__code__three, .container .Hero__profil__code__four, .container .Hero__profil__code__five, .container .Hero__profil__code__six {
    font-size: 0.8rem;
  }
  .container .Hero__profil__code__one {
    top: 10%;
    left: 20%;
    z-index: 1;
  }
  .container .Hero__profil__code__two {
    bottom: 20%;
    left: 25%;
  }
  .container .Hero__profil__code__three {
    bottom: 30%;
    right: 20%;
  }
  .container .Hero__profil__code__four {
    bottom: 25%;
    left: 55%;
  }
  .container .Hero__profil__code__five {
    top: 50%;
    left: 15%;
  }
  .container .Hero__profil__code__six {
    top: 20%;
    left: 65%;
  }
  .container .Hero .Social__Media {
    display: none;
  }
}
.container .text__infinite {
  transition: background 0.3s ease-in-out;
}
@media only screen and (min-width: 1300px) {
  .container .text__infinite {
    height: 8rem;
    padding: 0.2em;
  }
  .container .text__infinite__scroll__one {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 1299px) {
  .container .text__infinite {
    height: 8rem;
    padding: 0.2em;
  }
  .container .text__infinite__scroll__one {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 992px) {
  .container .text__infinite {
    height: 6rem;
    padding: 0.2em;
  }
  .container .text__infinite__scroll__one {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 768px) {
  .container .text__infinite {
    height: 3rem;
    padding: 0.2em;
  }
  .container .text__infinite__scroll__one {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 499px) {
  .container .text__infinite {
    height: 3rem;
    padding: 0.2em;
  }
  .container .text__infinite__scroll__one {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1300px) {
  .container .footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer h5 {
    font-size: 2rem;
  }
  .container .footer hr {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
  }
  .container .footer__content__copyright {
    font-size: 1rem;
    margin: 0.7rem 0;
  }
  .container .footer .backTop {
    right: 3rem;
    bottom: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1299px) {
  .container .footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer h5 {
    font-size: 1.5rem;
  }
  .container .footer hr {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
  }
  .container .footer__content__copyright {
    font-size: 1rem;
    margin: 0.7rem 0;
  }
  .container .footer .backTop {
    right: 3rem;
    bottom: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 992px) {
  .container .footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer h5 {
    font-size: 1.5rem;
  }
  .container .footer hr {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
  .container .footer__content__copyright {
    font-size: 0.8rem;
    margin: 0.7rem 0;
  }
  .container .footer .backTop {
    right: 3rem;
    bottom: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .container .footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer h5 {
    font-size: 1.5rem;
  }
  .container .footer hr {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer__content {
    flex-direction: column;
  }
  .container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1rem;
  }
  .container .footer__content__copyright {
    font-size: 1rem;
    margin: 0.7rem 0;
  }
  .container .footer .backTop {
    right: 1.8rem;
    bottom: 2rem;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 499px) {
  .container .footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer h5 {
    font-size: 1rem;
  }
  .container .footer hr {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container .footer__content {
    flex-direction: column;
  }
  .container .footer__content__social__media a.instagram-icon, .container .footer__content__social__media a.github-icon, .container .footer__content__social__media a.youtube-icon, .container .footer__content__social__media a.twitter-icon, .container .footer__content__social__media a.facebook-icon, .container .footer__content__social__media a.tiktok-icon, .container .footer__content__social__media a.linkedin-icon {
    width: 1.4rem;
    height: 1.4rem;
    font-size: 0.8rem;
  }
  .container .footer__content__copyright {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
  .container .footer .backTop {
    right: 1.2rem;
    bottom: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=App.css.map */