//mixin
@mixin title-style{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
@mixin borderRadiusStyle{
    border-radius: 40px;  
}
@mixin borderShadowStyle{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.container{
    .About{
        width: 100%;
        &__slider{
            position: relative;

            &__design{
                position: absolute;
                background-color: orangered;
                border-radius: 1rem;
                top: 50%;
                transform: translateY(-50%);
                box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 8px;
            }
            &__picture{
                position: absolute;
                background-color: #fff;
                border-radius: 1rem;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                overflow: hidden;
                cursor: pointer;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 10% 30%;
                    -moz-transition: all 0.5s ease-in-out; 
                    -webkit-transition: all 0.5s ease-in-out; 
                    transition: all 0.5s ease-in-out;
                    filter: grayscale(100%);

                    &:hover{
                        transform: scale(1.05);
                        filter: grayscale(0);
                    }
                }
            }
        }
        &__content{
            gap: 1rem;
            @include borderRadiusStyle;
            @include borderShadowStyle;
            border: 1px solid #e5e7eb;
            margin-bottom: 1rem;

            &__title{
                @include title-style;
            }
            &__btn{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3rem;
                padding: 2px;
                border-radius: 5px;
                border: 1px solid #e5e7eb;
                background-color: #f9fafb;
                
                &__one, &__two, &__three{
                    height: 100%;
                    font-weight: 600;
                    border: none;
                    outline: none;
                    text-align: center;
                    background-color: transparent;
                    color: #000;
                    
                    &:hover,
                    &.active{
                        background-color: blue;
                        color: #fff;
                        border: 1px solid #e5e7eb;
                        border-radius: 5px;
                    }
                }
            }

            &__wrapper{
                display: flex;
                align-items: start;
                justify-content: center;
                padding: .2em;
                width: 100%;
                height: auto;

                &__info{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    text-align: justify;
                    width: 100%;
                    height: 100%;

                    &__intro{
                        h3{
                            font-weight: bold;
                            margin-bottom: 1rem;
                        }
                        p{
                            font-weight: 500;
                            margin-bottom: 1rem;
                        }
                    }
                    &__knowledge{
                        display: grid;
                        place-items: center;

                        &__list-skill{
                            display: grid;
                            place-items: center;
                            width: 5.3rem;
                            height: 5.3rem;
                            border-radius: .5rem;
                            padding: 5px;
                            cursor: pointer;

                            &:hover{
                                background-color: #f8fafc;
                                color: #000;
                                border: 1px solid #e5e7eb;
                            }

                            img{
                                width: 40px;
                                height: 40px;
                            }
                            span{
                                font-weight: bold;
                                text-align: center;
                                color: #000;
                            }
                        }
                    }
                }

                &__prog{
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    gap: 1rem;

                    &__programming,
                    &__tool{
                        width: 100%;
                        height: 100%;
                        h4{
                            font-weight: bold;
                            width: 100%;
                            border-radius: .5rem;
                            background: blue;
                            border: 1px solid #e5e7eb;
                            color: #fff;
                        }

                        &__skill-content,
                        &__tool-content{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 5px;
                        }
                        &__skill-bg{
                            width: 100%;
                            height: 0.5rem;
                            border-radius: 0.5rem;
                            border: 1px solid #e5e7eb;
                            overflow: hidden;
                            margin: .4rem 0;

                            &__skill-progress{
                                width: 0%;
                                height: 0.5rem;
                                background-color: blue;
                                border-radius: 0.5rem;
                                overflow: hidden;
                                transition: all .5s ease-in-out;
                            }
                        }
                    }                    
                                        
                }

                &__other-skill{
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    width: 100%;
                    height: 100%;

                    &__content{
                        width: 100%;
                        height: 100%;

                        h4{
                            font-weight: bold;
                            width: 100%;
                            padding-left: 2rem !important;
                            padding: 5px;
                            border-radius: .5rem;
                            background: blue;
                            border: 1px solid #e5e7eb;
                            color: #fff;
                        }

                        &__box{
                            position: relative;
                            display: grid;
                            width: 100%;
                            place-items: center;
                            gap: .9rem;
                            height: auto;
                            margin-top: 1rem;

                            &__CircleBg{
                                position: relative;
                                display: grid;
                                place-items: center;
                                margin-bottom: .5rem;

                                &__percentage{
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    font-weight: 600;
                                }

                                &__title{
                                    position: absolute;
                                    bottom: -1rem;
                                    // font-size: .8rem;
                                    text-align: center;
                                    font-weight: 600;
                                }                               
                            }
                        }
                    }
                }
            }
        }
    }
}