.container{
    .Contact{
        width: 100%;

        &__title{
            margin-bottom: .5rem;
            font-weight: bold;
        }

        &__touch{
            padding-bottom: .3em;
            font-weight: 400;
        }

        &__form{
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            overflow: hidden;

            &__map{
                background: greenyellow;
            }
            &__content{
                background: #ffffff;
                color: #000;

                form{
                    text-align: start;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    gap: .5rem;
                }

            }
            
        }
        
    }    
}
