@mixin button-styles{
    background-color: #0ea5e9;
    color: #fff;
    border: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    font-weight: 600;
    line-height: 1;
    text-shadow: none;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform;
    cursor: pointer;
    border-radius: 290486px;
}

.container{
    .Hero{
        position: relative;
        width: 100%;
        // display: flex;
        overflow: hidden;
        
        
        &__info{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: .2rem;

            &__greet{
                line-height: 2rem;                
            } 

            &__name{
                font-weight: bold;
                font-family: roboto, sans-serif;
                color: orangered;
            }

            &__job{
                line-height: 1rem;
                color: #0ea5e9;
            }
            hr{
                content: "";
                background-color: #F1C21B;
                height: 1px;
                transform-origin: center left;
                border: none;
                width: 5rem;
                margin-top: 1.5rem;
            }

            &__description{
                line-height: 2;
            }
            &__btn{
                display: flex;
                align-items: center;
                gap: .5rem;
                                
                &__one{
                    @include button-styles;

                    &:hover{
                        background-color: #fff;
                        transition: background .3s ease-in-out;
                        color:#0ea5e9;
                        border-radius: 32px;
                        border: 3px solid #0ea5e9;
                    }
                }
                &__two{
                    @include button-styles;
                    border-radius: 50%;
                    background-color: #000 ;
                    font-weight: bold;
                    margin-left: .3rem;
                }
            }
        }
        &__profil{
            position: relative;

            &__picture{
                position: absolute;
                z-index: 40;
            }
            &__code{
                position: absolute;
                color: orangered;
                opacity: .6;
                font-weight: 900;
                animation: bounce .8s ease infinite alternate;


                &__one, &__two, &__three, &__four, &__five, &__six{
                    position: absolute;
                    color: orangered;
                    opacity: .6;
                    font-weight: 900;
                    z-index: 1;
                    animation: bounce .8s ease infinite alternate;

                    @keyframes bounce {
                        from{
                            text-shadow: 
                                        0 1px 0 orangered,
                                        0 1px 0 orangered,
                                        0 1px 0 orangered,
                                        0 1px 0 orangered,
                                        0 2px 3px rgba(255, 68, 0, 0.014),   
                                        0 2px 3px rgba(255, 68, 0, 0.014),   
                                        0 2px 3px rgba(255, 68, 0, 0.014);   
                        }
                        to{
                            transform: translateY(-20px);
                            text-shadow: 
                                        0 1px 0 orangered,
                                        0 1px 0 orangered,
                                        0 1px 0 orangered,
                                        0 1px 0 orangered,
                                        0 0px 20px rgba(255, 68, 0, 0.863),
                                        0 0px 20px rgba(255, 68, 0, 0.863),
                                        0 0px 20px rgba(255, 68, 0, 0.863);
                        }
                    }
                }
            }
        }       
    }
}