.carousel__btn{
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 1rem;
    color: orangered;
}

.carousel__btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel__btn--prev{
    left: .5rem;
}
.carousel__btn--next{
    right: .5rem;
}

img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -moz-transition: all 0.5s ease-in-out; 
    -webkit-transition: all 0.5s ease-in-out; 
    transition: all 0.5s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}

.carousel__indicators {
    position: absolute;
    bottom: 2rem;
    display: flex;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}
  
  .carousel__indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
  
.carousel__indicator.active {
    background-color: orangered; /* or any other color for active indicator */
}