.container{
    .text__infinite{
        width: 100%;
        display: flex;
        justify-content: bottom;
        align-items: center;
        font-family: "legend", sans-serif;
        position: relative;
    
    
        &__scroll{
            display: flex;
            overflow: hidden;
            white-space: nowrap;
    
            &__one{
                display: flex;
                align-items: center;
                justify-content: center;
                word-spacing: .3rem;
                font-size: bold;
                cursor: pointer;
                animation: scroll 360s linear infinite;
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: orangered;
                }
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: transparent;
                    -webkit-text-stroke: 2px orangered;
                }

                @keyframes scroll {
                    0%{
                        transform: translateX(0);
                    } 100% {
                        transform: translateX(-50%);
                    }
                }
    
                &:hover{
                    animation-play-state: paused;
                }
    
            }
        }
        
    }
}