.container{
    .Services{
        position: relative;
        width: 100%;
        display: grid;
        place-items: center ;
        transition: background .3s ease-in-out;

        &__title{
            margin: .5rem 0;
            font-weight: bold;
        }
        &__help{
            padding-bottom: .9em;
            font-weight: 400;
        }
        &__wrapper{
            width: 90%;
            min-height: 500px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 2rem;
            border: 2px solid orangered;
            z-index: 20;
            backdrop-filter: blur(10px) brightness(90%);
            margin-bottom: 1rem;

            &__card{
                position: relative;
                z-index: 30;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
                border-radius: 15px 50px;
                display: grid;
                place-items: center;
                cursor: pointer;
                transition: .3s ease-in-out;

                &:hover{
                    background: orangered;
                    color: #fff;
                    transition: .3s ease-in-out;
                    
                    .Services__wrapper__card__number {
                        opacity: 0.4;
                    }
                    .Services__wrapper__card__img{
                        border: 5px solid rgb(182, 182, 184);
                        background: #ffffff;
                    }
                }

                &__number{
                    position: absolute;
                    top: 35%;
                    right: 15%;
                    opacity: .09;
                    font-weight: bold;
                    padding: 0;
                    margin: 0;
                    background: none;
                }
                &__img{
                    border-radius: 50%;
                    z-index: 30;
                    display: grid;
                    place-items: center;
                    border: 5px solid orangered;

                    img{
                        object-fit: cover;
                    }
                }
                &__title{
                    font-weight: bold;
                    text-align: center;
                }
                &__details{
                    text-align: start;
                    text-align: justify;
                }
            }
        }
    }    
}