.container{
    .Videos{
        width: 100%;
        min-height: 70vh;
        display: grid;
        place-items: center ;
        margin-bottom: 1rem;
        transition: background .3s ease-in-out;
        padding: 1em;
        // overflow: hidden;
        
        &__title{
            font-size: 4rem;
            margin-bottom: .5rem;
            font-weight: bold;
        }
        &__watch{
            font-size: 3rem;
            padding-bottom: .3em;
            font-weight: 400;
        }
        &__container{
            max-width: 80rem;
            height: 500px;
            padding: .5em;
            background: yellow;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 1.5rem;
            overflow-x: hidden; // Enable horizontal scrolling
            
            &__card{
                // max-width: 400px;
                // height: 450px;
                border-radius: .5rem;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
                border: 3px solid #fff;
                cursor: pointer;
                display: grid;
                place-items: center;
                width: calc(400px * 3 + 1.5rem * 2); // Width for three cards with gap
                
                &__img{
                    overflow: hidden; 
                    position: relative;
                    width: 400px;
                    height: 250px;
                    display: grid;
                    place-items: center;

                    &__picture{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }

                    &__label{
                        position: absolute;
                        top: 10%;
                        right: 5%;
                        background: rgba(#fff, 0.8);
                        color: rgb(2, 218, 2);
                        padding: .2em 1em;
                        border-radius: .5em;
                        font-size: 1rem;
                        font-weight: bold;
                        border: 1px solid rgb(11, 248, 11);
                    }
                }
                &__content{
                    background: #fff;
                    padding: .5em;
                    width: 400px;
                    height: 200px;
                    display: grid;
                    place-items: center;
                    overflow: hidden;

                    &__title{
                        font-size: 1.5rem;
                        font-weight: bold;
                        text-align: center;
                        margin: 3px 0;
                    }
                    &__description{
                        font-size: .9rem;
                        text-align: start;
                        text-align: justify;
                        margin-bottom: 1rem;
                        padding: 0 .6em;
                        font-weight: 500;
                    }
                    &__profil{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 1em;
                        gap: 1rem;

                        &__author{
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            gap: .3rem;

                            &__picture{
                                width: 3rem;
                                height: 3rem;
                                border-radius: 50%;
                                border: 5px solid orangered;
                            }
                            &__name{
                                font-size: .8rem;
                                text-align: start;
                                font-weight: bold;
                                font-family: 'roboto', sans-serif;
                            }
                        }
                        &__dateButton{
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            gap: .3rem;

                            &__date{
                                font-size: .7rem;
                                text-align: start;
                                color: #747272;
                                font-weight: 700;
                            }

                            button{
                                border: none;
                                // background: transparent;
                            }
                            &__btn{
                                background: orangered;
                                color: #fff;
                                padding: .4em 1.2em;
                                border-radius: .2em;
                                font-size: 1rem;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        
    }
}