.container{
    .Videos{
        // min-height: 70vh;
        // width: 100%;
        // padding: 1em 3em;
        margin: 0 auto;
        // height: 900px;
        // margin-bottom: 2rem;
        // position: relative;
        overflow: hidden;
        // margin: 0;
        
        &__title{
            // font-size: 4rem;
            margin-bottom: .5rem;
            font-weight: bold;
            text-align: center;
        }
        &__watch{
            // font-size: 3rem;
            padding-bottom: .3em;
            font-weight: 400;
            text-align: center;
        }
        &__card{
            // width: 300px;
            // height: 400px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: #fff;
            // margin-bottom: .4rem;
            border-radius: .8rem;
            overflow: hidden;
            cursor: pointer;
    
            &:hover{
                background-color: rgba(250, 250, 250, 0.9);
            }
    
            &__img{
                position: relative;
                width: 100%;
                height: 200px;
    
                &__picture{
                    display: block;
                    // width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
                &__label{
                    position: absolute;
                    top: 10%;
                    right: 5%;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    padding: .2em 1em;
                    border-radius: .5em;
                    // font-size: 1rem;
                    font-weight: bold;
                    border: 1px solid orangered;
                }
            }
            &__content{
                width: 100%;
                // height: 200px;
                padding: .5em;
                margin-top: .2rem;
    
                &__title{
                    // font-size: 1.4rem;
                    font-weight: bold;
                    text-align: start;
                    margin: 3px 0;
                    margin: .1rem 0;
                    padding: 0 .6em;
                    color: #000;
                }
                &__description{
                    // font-size: .9rem;
                    text-align: start;
                    text-align: justify;
                    margin: .5rem 0;
                    padding: 0 .6em;
                    font-weight: 500;
                    color: #747272;
                }
    
                &__profil{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // padding: 0 1em;
                    gap: 1rem;
                    margin-top: 1rem;
    
                    &__author{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: .3rem;
    
                        &__picture{
                            // width: 3rem;
                            // height: 3rem;
                            border-radius: 50%;
                            border: 5px solid orangered;
                        }
                        &__nameJob{
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            justify-content: start;
                            gap: .2rem;
    
                            &__name{
                                color: #747272;
                                // font-size: .8rem;
                                text-align: start;
                                font-weight: bold;
                                font-family: 'roboto', sans-serif;
                            }
                            &__job{
                                // font-size: .6rem;
                                color: #747272;
                                text-align: start;
                                font-weight: bold;
                                font-family: 'roboto', sans-serif;
                            }
                        }
                    }
                    &__dateButton{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: .3rem;
    
                        &__date{
                            // font-size: .7rem;
                            text-align: start;
                            color: #747272;
                            font-weight: 700;
                        }
    
                        button{
                            border: none;
                            // background: transparent;
                        }
    
                        &__btn{
                            background: orangered;
                            padding: .4em 1.2em;
                            border-radius: .2em;
                            // font-size: .9rem;
                            font-weight: bold;
                            border: none;

                            &:hover{
                                background: rgba(255, 68, 0, 0.87);
                            }
                        }
                        &__btn a{
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .nextArrow{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            // right: -1.5rem;
            // width: 3rem;
            // height: 3rem;
            border: 1px solid orangered;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border-radius: .4rem;
            z-index: 2;
            display: grid;
            place-items: center;
            cursor: pointer;
        }
        
        .prevArrow{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            // left: -1.5rem;
            // width: 3rem;
            // height: 3rem;
            border: 1px solid orangered;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border-radius: .4rem;
            z-index: 2;
            display: grid;
            place-items: center;
            cursor: pointer;
        }
        
        /* these code insert space between items  */
        .slick-slide > div {
            margin: 0 10px;
            }
        .slick-list {
            margin: 0 -10px;
        }
    }
}