.container .Hero {
  width: 100vw;
  display: flex;
}
.container .Hero__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.2rem;
}
.container .Hero__info__greet {
  line-height: 2rem;
}
.container .Hero__info__name {
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: orangered;
}
.container .Hero__info__job {
  line-height: 1rem;
  color: #0ea5e9;
}
.container .Hero__info hr {
  content: "";
  background-color: #F1C21B;
  height: 1px;
  transform-origin: center left;
  border: none;
  width: 5rem;
  margin-top: 1.5rem;
}
.container .Hero__info__description {
  line-height: 2;
}
.container .Hero__info__btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container .Hero__info__btn__one {
  background-color: #0ea5e9;
  color: #fff;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 600;
  line-height: 1;
  text-shadow: none;
  transition-property: box-shadow, transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
  cursor: pointer;
  border-radius: 290486px;
}
.container .Hero__info__btn__one:hover {
  background-color: #fff;
  transition: background 0.3s ease-in-out;
  color: #0ea5e9;
  border-radius: 32px;
  border: 3px solid #0ea5e9;
}
.container .Hero__info__btn__two {
  background-color: #0ea5e9;
  color: #fff;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 600;
  line-height: 1;
  text-shadow: none;
  transition-property: box-shadow, transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
  cursor: pointer;
  border-radius: 290486px;
  border-radius: 50%;
  background-color: #000;
  font-weight: bold;
  margin-left: 0.3rem;
}
.container .Hero__profil {
  position: relative;
}
.container .Hero__profil__picture {
  position: absolute;
  z-index: 40;
}
.container .Hero__profil__code {
  position: absolute;
  color: orangered;
  opacity: 0.6;
  font-weight: 900;
}
.container .Hero__profil__code__one, .container .Hero__profil__code__two, .container .Hero__profil__code__three, .container .Hero__profil__code__four, .container .Hero__profil__code__five, .container .Hero__profil__code__six {
  position: absolute;
  color: orangered;
  opacity: 0.6;
  font-weight: 900;
}
.container .Hero__profil__code__one {
  z-index: 1;
}
.container .About {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
}
.container .About h3 {
  font-size: 3rem;
}

.container .Services {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
}
.container .Services h3 {
  font-size: 3rem;
}

.container .Videos {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
}
.container .Videos h3 {
  font-size: 3rem;
}

.container .Contact {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
}
.container .Contact h3 {
  font-size: 3rem;
}/*# sourceMappingURL=index_main.css.map */