.container .Hero {
  position: relative;
  width: 100vw;
  display: flex;
}
.container .Hero__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.2rem;
}
.container .Hero__info__greet {
  line-height: 2rem;
}
.container .Hero__info__name {
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: orangered;
}
.container .Hero__info__job {
  line-height: 1rem;
  color: #0ea5e9;
}
.container .Hero__info hr {
  content: "";
  background-color: #F1C21B;
  height: 1px;
  transform-origin: center left;
  border: none;
  width: 5rem;
  margin-top: 1.5rem;
}
.container .Hero__info__description {
  line-height: 2;
}
.container .Hero__info__btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container .Hero__info__btn__one {
  background-color: #0ea5e9;
  color: #fff;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 600;
  line-height: 1;
  text-shadow: none;
  transition-property: box-shadow, transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
  cursor: pointer;
  border-radius: 290486px;
}
.container .Hero__info__btn__one:hover {
  background-color: #fff;
  transition: background 0.3s ease-in-out;
  color: #0ea5e9;
  border-radius: 32px;
  border: 3px solid #0ea5e9;
}
.container .Hero__info__btn__two {
  background-color: #0ea5e9;
  color: #fff;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 600;
  line-height: 1;
  text-shadow: none;
  transition-property: box-shadow, transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
  cursor: pointer;
  border-radius: 290486px;
  border-radius: 50%;
  background-color: #000;
  font-weight: bold;
  margin-left: 0.3rem;
}
.container .Hero__profil {
  position: relative;
}
.container .Hero__profil__picture {
  position: absolute;
  z-index: 40;
}
.container .Hero__profil__code {
  position: absolute;
  color: orangered;
  opacity: 0.6;
  font-weight: 900;
}
.container .Hero__profil__code__one, .container .Hero__profil__code__two, .container .Hero__profil__code__three, .container .Hero__profil__code__four, .container .Hero__profil__code__five, .container .Hero__profil__code__six {
  position: absolute;
  color: orangered;
  opacity: 0.6;
  font-weight: 900;
}
.container .Hero__profil__code__one {
  z-index: 1;
}

.container .About {
  width: 100%;
  min-height: 100vh;
  padding-top: 3em;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}
.container .About__slider {
  width: 35%;
  min-height: 600px;
  background-color: red;
  padding: 1rem;
}
.container .About__content {
  width: 50%;
  min-height: 50vh;
  background-color: blue;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container .About__content__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
}
.container .About__content__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.41rem;
  padding: 1rem;
  background: yellow;
  width: 8rem;
  height: 3rem;
  border-radius: 40px;
  border: 1px solid #000;
}
.container .About__content__btn__toggle {
  position: absolute;
  top: 12%;
  right: 3%;
  background-color: #fff;
  opacity: 0.6;
  width: 4rem;
  border: 1px solid #4d4c4c;
  height: 1.5rem;
  padding: 1em;
  border-radius: 40px;
}
.container .About__content__btn__one {
  font-weight: bold;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
}
.container .About__content__btn__two {
  font-weight: bold;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
}
.container .About__content__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .About__content__wrapper__info {
  display: block;
}
.container .About__content__wrapper__info__intro h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.container .About__content__wrapper__info__intro p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.container .About__content__wrapper__info__knowledge {
  display: flex;
}
.container .About__content__wrapper__skill {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container .Services {
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  transition: background 0.3s ease-in-out;
}
.container .Services__title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.container .Services__help {
  font-size: 3rem;
  padding-bottom: 0.9em;
  font-weight: 400;
}
.container .Services__wrapper {
  width: 90%;
  min-height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6); */
  border: 2px solid orangered;
  z-index: 20;
  padding: 2rem;
  -webkit-backdrop-filter: blur(10px) brightness(90%);
          backdrop-filter: blur(10px) brightness(90%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.container .Services__wrapper__card {
  position: relative;
  width: 20rem;
  height: 20rem;
  z-index: 30;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 15px 50px;
  padding: 1.5em 1em;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.container .Services__wrapper__card:hover {
  background: orangered;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.container .Services__wrapper__card:hover .Services__wrapper__card__number {
  opacity: 0.4;
}
.container .Services__wrapper__card:hover .Services__wrapper__card__img {
  border: 5px solid rgb(182, 182, 184);
  background: #ffffff;
}
.container .Services__wrapper__card__number {
  position: absolute;
  top: 35%;
  right: 15%;
  font-size: 10rem;
  opacity: 0.09;
  font-weight: bold;
  padding: 0;
  margin: 0;
  background: none;
}
.container .Services__wrapper__card__img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  z-index: 30;
  display: grid;
  place-items: center;
  border: 5px solid orangered;
}
.container .Services__wrapper__card__img img {
  width: 30px;
  height: 30px;
  /* padding: 1em; */
  -o-object-fit: cover;
     object-fit: cover;
}
.container .Services__wrapper__card__title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.container .Services__wrapper__card__details {
  font-size: 1.1rem;
  text-align: start;
  text-align: justify;
}

.container .Videos {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
}
.container .Videos h3 {
  font-size: 3rem;
}

.container .Contact {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
}
.container .Contact h3 {
  font-size: 3rem;
}

.Social__Media {
  position: fixed;
  display: none;
  flex-direction: column; /* Align icons vertically */
  top: 50%;
  right: -9vw; /* Adjust the positioning as needed */
  transform: translateY(-40%);
  z-index: 20;
}
.Social__Media li {
  list-style-type: none;
  cursor: pointer;
}
.Social__Media li a {
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  background-color: #bae6fd;
  gap: 0.3rem;
  color: rgb(92, 90, 90);
  font-size: 1.5rem;
  padding: 0.2em 0.4em;
}
.Social__Media li a:hover {
  transform: scale(1.1) translateX(-8.3vw);
  transition: transform 0.5s ease;
}
.Social__Media li a.Instagram-icon:hover {
  color: #C13584;
}
.Social__Media li a.Github-icon:hover {
  color: #000;
}
.Social__Media li a.Youtube-icon:hover {
  color: rgb(255, 0, 0);
}
.Social__Media li a.Twitter-icon:hover {
  color: #000;
}
.Social__Media li a.Facebook-icon:hover {
  color: #1877F2;
}
.Social__Media li a.Tiktok-icon:hover {
  color: #1a1919;
}
.Social__Media li a.Linkedin-icon:hover {
  color: #0e76a8;
}

.container .text__infinite {
  width: 100%;
  display: flex;
  justify-content: bottom;
  align-items: center;
  font-family: "legend", sans-serif;
  position: relative;
}
.container .text__infinite__scroll {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.container .text__infinite__scroll__one {
  display: flex;
  align-items: center;
  justify-content: center;
  word-spacing: 0.3rem;
  font-size: bold;
  cursor: pointer;
  animation: scroll 360s linear infinite;
}
.container .text__infinite__scroll__one div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: orangered;
}
.container .text__infinite__scroll__one span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  -webkit-text-stroke: 2px orangered;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.container .text__infinite__scroll__one:hover {
  animation-play-state: paused;
}/*# sourceMappingURL=index_main.css.map */