.container .Hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.container .Hero__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.2rem;
}
.container .Hero__info__greet {
  line-height: 2rem;
}
.container .Hero__info__name {
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: orangered;
}
.container .Hero__info__job {
  line-height: 1rem;
  color: #0ea5e9;
}
.container .Hero__info hr {
  content: "";
  background-color: #F1C21B;
  height: 1px;
  transform-origin: center left;
  border: none;
  width: 5rem;
  margin-top: 1.5rem;
}
.container .Hero__info__description {
  line-height: 2;
}
.container .Hero__info__btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container .Hero__info__btn__one {
  background-color: #0ea5e9;
  color: #fff;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 600;
  line-height: 1;
  text-shadow: none;
  transition-property: box-shadow, transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
  cursor: pointer;
  border-radius: 290486px;
}
.container .Hero__info__btn__one:hover {
  background-color: #fff;
  transition: background 0.3s ease-in-out;
  color: #0ea5e9;
  border-radius: 32px;
  border: 3px solid #0ea5e9;
}
.container .Hero__info__btn__two {
  background-color: #0ea5e9;
  color: #fff;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 600;
  line-height: 1;
  text-shadow: none;
  transition-property: box-shadow, transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
  cursor: pointer;
  border-radius: 290486px;
  border-radius: 50%;
  background-color: #000;
  font-weight: bold;
  margin-left: 0.3rem;
}
.container .Hero__profil {
  position: relative;
}
.container .Hero__profil__picture {
  position: absolute;
  z-index: 40;
}
.container .Hero__profil__circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.container .Hero__profil__circle__round_1 {
  position: relative;
  top: 30%;
  left: 5%;
  width: 50%;
  height: 20rem;
  border-radius: 50%;
  z-index: 30;
  border: 1px solid #94a3b8;
  animation: animateCircleOne 300s linear infinite;
}
.container .Hero__profil__circle__round_1 span {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #94a3b8;
  padding: 0.4em;
}
.container .Hero__profil__circle__round_1 span:nth-child(1) {
  top: -7%;
  left: 50%;
  transform: translateX(-50%);
}
.container .Hero__profil__circle__round_1 span:nth-child(2) {
  bottom: -7%;
  left: 50%;
  transform: translateX(-50%);
}
.container .Hero__profil__circle__round_1 span:nth-child(3) {
  top: 50%;
  left: -7%;
  transform: translateY(-50%);
}
.container .Hero__profil__circle__round_1 span:nth-child(4) {
  top: 50%;
  right: -7%;
  transform: translateY(-50%);
}
.container .Hero__profil__circle__round_1 span img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #94a3b8;
}
@keyframes animateCircleOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container .Hero__profil__circle__round_2 {
  position: relative;
  top: 30%;
  right: 8%;
  width: 50%;
  height: 20rem;
  border-radius: 50%;
  z-index: 30;
  border: 1px solid #94a3b8;
  animation: animateCircleTwo 300s linear infinite reverse;
}
.container .Hero__profil__circle__round_2 span {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #94a3b8;
  padding: 0.4em;
}
.container .Hero__profil__circle__round_2 span:nth-child(1) {
  top: -7%;
  left: 50%;
  transform: translateX(-50%);
}
.container .Hero__profil__circle__round_2 span:nth-child(2) {
  bottom: -7%;
  left: 50%;
  transform: translateX(-50%);
}
.container .Hero__profil__circle__round_2 span:nth-child(3) {
  top: 50%;
  left: -7%;
  transform: translateY(-50%);
}
.container .Hero__profil__circle__round_2 span:nth-child(4) {
  top: 50%;
  right: -7%;
  transform: translateY(-50%);
}
.container .Hero__profil__circle__round_2 span img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #94a3b8;
}
@keyframes animateCircleTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container .About {
  width: 100%;
}
.container .About__slider {
  position: relative;
}
.container .About__slider__design {
  position: absolute;
  background-color: orangered;
  border-radius: 1rem;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 8px;
}
.container .About__slider__picture {
  position: absolute;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  overflow: hidden;
  cursor: pointer;
}
.container .About__slider__picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 30%;
     object-position: 10% 30%;
  transition: all 0.5s ease-in-out;
  filter: grayscale(100%);
}
.container .About__slider__picture img:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}
.container .About__content {
  gap: 1rem;
  border-radius: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #e5e7eb;
  margin-bottom: 1rem;
}
.container .About__content__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.container .About__content__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
}
.container .About__content__btn__one, .container .About__content__btn__two, .container .About__content__btn__three {
  height: 100%;
  font-weight: 600;
  border: none;
  outline: none;
  text-align: center;
  background-color: transparent;
  color: #000;
}
.container .About__content__btn__one:hover, .container .About__content__btn__one.active, .container .About__content__btn__two:hover, .container .About__content__btn__two.active, .container .About__content__btn__three:hover, .container .About__content__btn__three.active {
  background-color: blue;
  color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}
.container .About__content__wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0.2em;
  width: 100%;
  height: auto;
}
.container .About__content__wrapper__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: justify;
  width: 100%;
  height: 100%;
}
.container .About__content__wrapper__info__intro h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.container .About__content__wrapper__info__intro p {
  font-weight: 500;
  margin-bottom: 1rem;
}
.container .About__content__wrapper__info__knowledge {
  display: grid;
  place-items: center;
}
.container .About__content__wrapper__info__knowledge__list-skill {
  display: grid;
  place-items: center;
  width: 5.3rem;
  height: 5.3rem;
  border-radius: 0.5rem;
  padding: 5px;
  cursor: pointer;
}
.container .About__content__wrapper__info__knowledge__list-skill:hover {
  background-color: #f8fafc;
  color: #000;
  border: 1px solid #e5e7eb;
}
.container .About__content__wrapper__info__knowledge__list-skill img {
  width: 40px;
  height: 40px;
}
.container .About__content__wrapper__info__knowledge__list-skill span {
  font-weight: bold;
  text-align: center;
  color: #000;
}
.container .About__content__wrapper__prog {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}
.container .About__content__wrapper__prog__programming, .container .About__content__wrapper__prog__tool {
  width: 100%;
  height: 100%;
}
.container .About__content__wrapper__prog__programming h4, .container .About__content__wrapper__prog__tool h4 {
  font-weight: bold;
  width: 100%;
  border-radius: 0.5rem;
  background: blue;
  border: 1px solid #e5e7eb;
  color: #fff;
}
.container .About__content__wrapper__prog__programming__skill-content, .container .About__content__wrapper__prog__programming__tool-content, .container .About__content__wrapper__prog__tool__skill-content, .container .About__content__wrapper__prog__tool__tool-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.container .About__content__wrapper__prog__programming__skill-bg, .container .About__content__wrapper__prog__tool__skill-bg {
  width: 100%;
  height: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  margin: 0.4rem 0;
}
.container .About__content__wrapper__prog__programming__skill-bg__skill-progress, .container .About__content__wrapper__prog__tool__skill-bg__skill-progress {
  width: 0%;
  height: 0.5rem;
  background-color: blue;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.container .About__content__wrapper__other-skill {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
}
.container .About__content__wrapper__other-skill__content {
  width: 100%;
  height: 100%;
}
.container .About__content__wrapper__other-skill__content h4 {
  font-weight: bold;
  width: 100%;
  padding-left: 2rem !important;
  padding: 5px;
  border-radius: 0.5rem;
  background: blue;
  border: 1px solid #e5e7eb;
  color: #fff;
}
.container .About__content__wrapper__other-skill__content__box {
  position: relative;
  display: grid;
  width: 100%;
  place-items: center;
  gap: 0.9rem;
  height: auto;
  margin-top: 1rem;
}
.container .About__content__wrapper__other-skill__content__box__CircleBg {
  position: relative;
  display: grid;
  place-items: center;
  margin-bottom: 0.5rem;
}
.container .About__content__wrapper__other-skill__content__box__CircleBg__percentage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
}
.container .About__content__wrapper__other-skill__content__box__CircleBg__title {
  position: absolute;
  bottom: -1rem;
  text-align: center;
  font-weight: 600;
}

.container .Services {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  transition: background 0.3s ease-in-out;
}
.container .Services__title {
  margin: 0.5rem 0;
  font-weight: bold;
}
.container .Services__help {
  padding-bottom: 0.9em;
  font-weight: 400;
}
.container .Services__wrapper {
  width: 90%;
  min-height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  border: 2px solid orangered;
  z-index: 20;
  -webkit-backdrop-filter: blur(10px) brightness(90%);
          backdrop-filter: blur(10px) brightness(90%);
  margin-bottom: 1rem;
}
.container .Services__wrapper__card {
  position: relative;
  z-index: 30;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 15px 50px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.container .Services__wrapper__card:hover {
  background: orangered;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.container .Services__wrapper__card:hover .Services__wrapper__card__number {
  opacity: 0.4;
}
.container .Services__wrapper__card:hover .Services__wrapper__card__img {
  border: 5px solid rgb(182, 182, 184);
  background: #ffffff;
}
.container .Services__wrapper__card__number {
  position: absolute;
  top: 35%;
  right: 15%;
  opacity: 0.09;
  font-weight: bold;
  padding: 0;
  margin: 0;
  background: none;
}
.container .Services__wrapper__card__img {
  border-radius: 50%;
  z-index: 30;
  display: grid;
  place-items: center;
  border: 5px solid orangered;
}
.container .Services__wrapper__card__img img {
  -o-object-fit: cover;
     object-fit: cover;
}
.container .Services__wrapper__card__title {
  font-weight: bold;
  text-align: center;
}
.container .Services__wrapper__card__details {
  text-align: start;
  text-align: justify;
}

.container .Videos {
  margin: 0 auto;
  overflow: hidden;
  /* these code insert space between items  */
}
.container .Videos__title {
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}
.container .Videos__watch {
  padding-bottom: 0.3em;
  font-weight: 400;
  text-align: center;
}
.container .Videos__card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
}
.container .Videos__card:hover {
  background-color: rgba(250, 250, 250, 0.9);
}
.container .Videos__card__img {
  position: relative;
  width: 100%;
  height: 200px;
}
.container .Videos__card__img__picture {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .Videos__card__img__label {
  position: absolute;
  top: 10%;
  right: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.2em 1em;
  border-radius: 0.5em;
  font-weight: bold;
  border: 1px solid orangered;
}
.container .Videos__card__content {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.2rem;
}
.container .Videos__card__content__title {
  font-weight: bold;
  text-align: start;
  margin: 3px 0;
  margin: 0.1rem 0;
  padding: 0 0.6em;
  color: #000;
}
.container .Videos__card__content__description {
  text-align: start;
  text-align: justify;
  margin: 0.5rem 0;
  padding: 0 0.6em;
  font-weight: 500;
  color: #747272;
}
.container .Videos__card__content__profil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}
.container .Videos__card__content__profil__author {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
}
.container .Videos__card__content__profil__author__picture {
  border-radius: 50%;
  border: 5px solid orangered;
}
.container .Videos__card__content__profil__author__nameJob {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.2rem;
}
.container .Videos__card__content__profil__author__nameJob__name {
  color: #747272;
  text-align: start;
  font-weight: bold;
  font-family: "roboto", sans-serif;
}
.container .Videos__card__content__profil__author__nameJob__job {
  color: #747272;
  text-align: start;
  font-weight: bold;
  font-family: "roboto", sans-serif;
}
.container .Videos__card__content__profil__dateButton {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
}
.container .Videos__card__content__profil__dateButton__date {
  text-align: start;
  color: #747272;
  font-weight: 700;
}
.container .Videos__card__content__profil__dateButton button {
  border: none;
}
.container .Videos__card__content__profil__dateButton__btn {
  background: orangered;
  padding: 0.4em 1.2em;
  border-radius: 0.2em;
  font-weight: bold;
  border: none;
}
.container .Videos__card__content__profil__dateButton__btn:hover {
  background: rgba(255, 68, 0, 0.87);
}
.container .Videos__card__content__profil__dateButton__btn a {
  text-decoration: none;
  color: #fff;
}
.container .Videos .nextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid orangered;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0.4rem;
  z-index: 2;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.container .Videos .prevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid orangered;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0.4rem;
  z-index: 2;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.container .Videos .slick-slide > div {
  margin: 0 10px;
}
.container .Videos .slick-list {
  margin: 0 -10px;
}

.container .Contact {
  width: 100%;
}
.container .Contact__title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.container .Contact__touch {
  padding-bottom: 0.3em;
  font-weight: 400;
}
.container .Contact__form {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.container .Contact__form__map {
  background: greenyellow;
}
.container .Contact__form__content {
  background: white;
  color: #000;
}
.container .Contact__form__content form {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
}

.Social__Media {
  position: fixed;
  display: none;
  flex-direction: column; /* Align icons vertically */
  z-index: 99;
}
.Social__Media li {
  list-style-type: none;
  cursor: pointer;
}
.Social__Media li a {
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  background-color: #bae6fd;
  gap: 0.3rem;
  color: rgb(92, 90, 90);
  font-size: 1.5rem;
  padding: 0.2em 0.4em;
}
.Social__Media li a:hover {
  transition: transform 0.5s ease;
}
.Social__Media li a.Instagram-icon:hover {
  color: #C13584;
}
.Social__Media li a.Github-icon:hover {
  color: #000;
}
.Social__Media li a.Youtube-icon:hover {
  color: rgb(255, 0, 0);
}
.Social__Media li a.Twitter-icon:hover {
  color: #000;
}
.Social__Media li a.Facebook-icon:hover {
  color: #1877F2;
}
.Social__Media li a.Tiktok-icon:hover {
  color: #1a1919;
}
.Social__Media li a.Linkedin-icon:hover {
  color: #0e76a8;
}

.container .Hero .text__infinite {
  width: 100%;
  display: flex;
  justify-content: bottom;
  align-items: center;
  font-family: "legend", sans-serif;
  position: absolute;
  bottom: 0;
  z-index: 99 !important;
}
.container .Hero .text__infinite__scroll {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.container .Hero .text__infinite__scroll__one {
  display: flex;
  align-items: center;
  justify-content: center;
  word-spacing: 0.3rem;
  font-size: bold;
  cursor: pointer;
  animation: scroll 360s linear infinite;
}
.container .Hero .text__infinite__scroll__one div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: orangered;
}
.container .Hero .text__infinite__scroll__one span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  -webkit-text-stroke: 2px orangered;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.container .Hero .text__infinite__scroll__one:hover {
  animation-play-state: paused;
}

.container .Contact .leaflet-container {
  z-index: 10;
}

/*

var mymap = L.map('map')

#map{
    width: 100%;
    min-height: 600px;
    z-index: 10;
}
Sources:
https://zhiqiyu.github.io/post/react-leaflet-setup/
*/
.container .Videos .CountUp {
  width: 100%;
  display: grid;
  place-items: center;
}
.container .Videos .CountUp__wrapper {
  background-color: orangered;
  border-radius: 8rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.container .Videos .CountUp__wrapper__experience, .container .Videos .CountUp__wrapper__project, .container .Videos .CountUp__wrapper__subscribers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.container .Videos .CountUp__wrapper__experience__icon, .container .Videos .CountUp__wrapper__experience__number, .container .Videos .CountUp__wrapper__project__icon, .container .Videos .CountUp__wrapper__project__number, .container .Videos .CountUp__wrapper__subscribers__icon, .container .Videos .CountUp__wrapper__subscribers__number {
  font-weight: bold;
  text-align: center;
}
.container .Videos .CountUp__wrapper__experience__title, .container .Videos .CountUp__wrapper__project__title, .container .Videos .CountUp__wrapper__subscribers__title {
  font-weight: bold;
  text-align: center;
}
.container .Videos .CountUp__wrapper__experience::before, .container .Videos .CountUp__wrapper__project::before {
  position: absolute;
  content: "";
  right: 0;
  border-right: 1px solid black;
  height: 60px;
  display: block;
}

.carousel__btn {
  display: none;
  place-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: orangered;
}

.carousel__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__btn--prev {
  left: 0.5rem;
}

.carousel__btn--next {
  right: 0.5rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

.carousel__indicators {
  position: absolute;
  bottom: 2rem;
  display: flex;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__indicator.active {
  background-color: orangered; /* or any other color for active indicator */
}/*# sourceMappingURL=index_main.css.map */