.social-media{
    position: absolute;
    padding-top: 4rem;

    ul{ 
        li{
            list-style-type: none;
            /* display: none; */
            // font-size: 1.2rem;
            cursor: pointer;
            // background-color: red;
            
            a{
                // display: flex;
                align-items: center;
                justify-content: start;
                text-decoration: none;
                gap: .3rem;
                // background-color: red;
                color: #94a3b8;
                // padding: 0.4rem;
                // opacity: 0.6;
                
            }
            // instagram
            a.Instagram-icon:hover {
                color: #C13584;
            }
            // github
            a.Github-icon:hover {
                color: #000;;
            }
            // youtube
            a.Youtube-icon:hover {
                color: rgb(255, 0, 0);
            }
            // twitter
            a.Twitter-icon:hover {
                color: #000;
            }
            // facebook
            a.Facebook-icon:hover {
                color: #1877F2;
            }
            // tiktok
            a.Tiktok-icon:hover {
                color: #1a1919;
            }
            // LinkedIn
            a.Linkedin-icon:hover {
                color: #0e76a8;
            }

        }
    }
}