.Switch-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    background: #f1f5f9;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #475569;
    cursor: pointer;
    border: 1px solid #cbd5e1;
    font-size: 1.1rem;
}